<a href="https://colab.research.google.com/github/Abdulkhadiri/Edulyt_Banking_Project/blob/main/Edyut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name=None) #Importing excel file into the Dataframe

In [ ]:
df['New_Account'] #here by key we required data frame

      account_id  district_id         frequency
0            576           55  MONTHLY ISSUANCE
1           3818           74  MONTHLY ISSUANCE
2            704           55  MONTHLY ISSUANCE
3           2378           16  MONTHLY ISSUANCE
4           2632           24  MONTHLY ISSUANCE
...          ...          ...               ...
4495         124           55  MONTHLY ISSUANCE
4496        3958           59  MONTHLY ISSUANCE
4497         777           30  MONTHLY ISSUANCE
4498        1573           63  MONTHLY ISSUANCE
4499        3276            1  MONTHLY ISSUANCE

[4500 rows x 3 columns]

In [ ]:
df['District']

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
1,2,Benesov,central Bohemia,88884,80,26,6,2,5,46.7,8507,1.67,1.85,132,2159,2674
2,3,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,111,2824,2813
3,4,Kladno,central Bohemia,149893,63,29,6,2,6,67.4,9753,4.64,5.05,109,5244,5892
4,5,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,118,2616,3040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Opava,north Moravia,182027,17,49,12,2,7,56.4,8746,3.33,3.74,90,4355,4433
73,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347
74,75,Prerov,north Moravia,138032,67,30,4,2,5,64.6,8819,5.38,5.66,99,4063,4505
75,76,Sumperk,north Moravia,127369,31,32,13,2,7,51.2,8369,4.73,5.88,107,3736,2807
76,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460,3590

In [ ]:
df2=df['New_Account'].merge(df['District'],left_on="district_id",right_on='A1') #Here joining table with common column between two data frames
df2 # here district_id and A1 are common we merge it

,account_id,district_id,frequency,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,576,55,MONTHLY ISSUANCE,55,Brno - venkov,south Moravia,157042,49,70,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
1,704,55,MONTHLY ISSUANCE,55,Brno - venkov,south Moravia,157042,49,70,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
2,192,55,MONTHLY ISSUANCE,55,Brno - venkov,south Moravia,157042,49,70,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
3,10364,55,MONTHLY ISSUANCE,55,Brno - venkov,south Moravia,157042,49,70,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
4,497,55,MONTHLY ISSUANCE,55,Brno - venkov,south Moravia,157042,49,70,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,10134,22,MONTHLY ISSUANCE,22,Domazlice,west Bohemia,58400,65,16,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
4496,3951,22,MONTHLY ISSUANCE,22,Domazlice,west Bohemia,58400,65,16,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
4497,679,22,MONTHLY ISSUANCE,22,Domazlice,west Bohemia,58400,65,16,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
4498,2182,22,MONTHLY ISSUANCE,22,Domazlice,west Bohemia,58400,65,16,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
4499,2152,22,MONTHLY ISSUANCE,22,Domazlice,west Bohemia,58400,65,16,4,1,6,52.4,8620,1.1,1.25,100,1089,1117

In [ ]:
df2=df2.sort_values(by=['A4'],ascending=False) #Sorting the merged dataframe

In [ ]:
del df2['A1'] #deleting unwanted columns
del df2['A5']
del df2['A6']
del df2['A7']
del df2['A8']
del df2['A9']
del df2['A10']
del df2['A11']
del df2['A12']
del df2['A13']
del df2['A14']
del df2['A15']
del df2['A16']

In [ ]:
df2

,account_id,district_id,frequency,A2,A3,A4
808,3790,1,WEEKLY ISSUANCE,Hl.m. Praha,Prague,1204953
587,2727,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
576,5125,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
577,1674,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
578,3234,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
...,...,...,...,...,...,...
3811,242,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821
3810,2737,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821
3809,7926,69,WEEKLY ISSUANCE,Jesenik,north Moravia,42821
3808,439,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821
3812,692,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821

In [ ]:
df['New_Transaction'] #using New_Transaction dataframe
trans=df['New_Transaction'].iloc[:,1:7]
trans

         account_id    date    type        operation   amount  balance
0              2378  930101  CREDIT   CREDIT IN CASH    700.0    700.0
1               576  930101  CREDIT   CREDIT IN CASH    900.0    900.0
2               704  930101  CREDIT   CREDIT IN CASH   1000.0   1000.0
3              3818  930101  CREDIT   CREDIT IN CASH    600.0    600.0
4              1972  930102  CREDIT   CREDIT IN CASH    400.0    400.0
...             ...     ...     ...              ...      ...      ...
1048570        3779  981219   DEBIT  CASH WITHDRAWAL  12200.0  59783.7
1048571        3787  981219   DEBIT  CASH WITHDRAWAL   2600.0  81497.4
1048572        3789  981219   DEBIT  CASH WITHDRAWAL   4900.0  44784.0
1048573        3791  981219   DEBIT  CASH WITHDRAWAL  23500.0  60146.1
1048574        3789  981219   DEBIT  CASH WITHDRAWAL  11100.0  33684.0

[1048575 rows x 6 columns]

In [ ]:
df3=pd.merge(trans,df2,on="account_id") #merging the tables with common column
df3

,account_id,date,type,operation,amount,balance,district_id,frequency,A2,A3,A4
0,2378,930101,CREDIT,CREDIT IN CASH,700.0,700.0,16,MONTHLY ISSUANCE,Jindrichuv Hradec,south Bohemia,93931
1,2378,930122,CREDIT,CREDIT IN CASH,7268.0,7968.0,16,MONTHLY ISSUANCE,Jindrichuv Hradec,south Bohemia,93931
2,2378,930123,CREDIT,CREDIT IN CASH,14440.0,22408.0,16,MONTHLY ISSUANCE,Jindrichuv Hradec,south Bohemia,93931
3,2378,930124,CREDIT,CREDIT IN CASH,49752.0,72160.0,16,MONTHLY ISSUANCE,Jindrichuv Hradec,south Bohemia,93931
4,2378,930126,CREDIT,CREDIT IN CASH,21899.0,94059.0,16,MONTHLY ISSUANCE,Jindrichuv Hradec,south Bohemia,93931
...,...,...,...,...,...,...,...,...,...,...,...
1048570,1573,981130,CREDIT,NaN,70.8,17021.5,63,MONTHLY ISSUANCE,Vyskov,south Moravia,86513
1048571,1573,981130,DEBIT,CASH WITHDRAWAL,2560.0,14461.5,63,MONTHLY ISSUANCE,Vyskov,south Moravia,86513
1048572,1573,981130,DEBIT,CASH WITHDRAWAL,14.6,14446.9,63,MONTHLY ISSUANCE,Vyskov,south Moravia,86513
1048573,1573,981209,CREDIT,COLLECTION FROM ANOTHER BANK,5492.0,19938.9,63,MONTHLY ISSUANCE,Vyskov,south Moravia,86513
1048574,1573,981211,DEBIT,REMITTANCE TO ANOTHER BANK,3638.0,16300.9,63,MONTHLY ISSUANCE,Vyskov,south Moravia,86513

In [ ]:
del df3['operation']

In [ ]:
df3.dtypes

account_id       int64
date             int64
type            object
amount         float64
balance        float64
district_id      int64
frequency       object
A2              object
A3              object
A4               int64
dtype: object

In [ ]:
df['District'].dtypes

A1       int64
A2      object
A3      object
A4       int64
A5       int64
A6       int64
A7       int64
A8       int64
A9       int64
A10    float64
A11      int64
A12     object
A13    float64
A14      int64
A15     object
A16      int64
dtype: object

In [ ]:
df3

,account_id,date,type,amount,balance,district_id,frequency,A2,A3,A4
0,2378,930101,CREDIT,700.0,700.0,16,MONTHLY ISSUANCE,Jindrichuv Hradec,south Bohemia,93931
1,2378,930122,CREDIT,7268.0,7968.0,16,MONTHLY ISSUANCE,Jindrichuv Hradec,south Bohemia,93931
2,2378,930123,CREDIT,14440.0,22408.0,16,MONTHLY ISSUANCE,Jindrichuv Hradec,south Bohemia,93931
3,2378,930124,CREDIT,49752.0,72160.0,16,MONTHLY ISSUANCE,Jindrichuv Hradec,south Bohemia,93931
4,2378,930126,CREDIT,21899.0,94059.0,16,MONTHLY ISSUANCE,Jindrichuv Hradec,south Bohemia,93931
...,...,...,...,...,...,...,...,...,...,...
1048570,1573,981130,CREDIT,70.8,17021.5,63,MONTHLY ISSUANCE,Vyskov,south Moravia,86513
1048571,1573,981130,DEBIT,2560.0,14461.5,63,MONTHLY ISSUANCE,Vyskov,south Moravia,86513
1048572,1573,981130,DEBIT,14.6,14446.9,63,MONTHLY ISSUANCE,Vyskov,south Moravia,86513
1048573,1573,981209,CREDIT,5492.0,19938.9,63,MONTHLY ISSUANCE,Vyskov,south Moravia,86513
1048574,1573,981211,DEBIT,3638.0,16300.9,63,MONTHLY ISSUANCE,Vyskov,south Moravia,86513

In [ ]:
df3=df3.sort_values(by=['A4'],ascending=False) #sorting the
df3

,account_id,date,type,amount,balance,district_id,frequency,A2,A3,A4
769434,2390,960303,CREDIT,39339.0,40039.0,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
905936,2655,971031,CREDIT,193.2,78611.1,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
905938,2655,971101,DEBIT,26000.0,52596.5,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
905939,2655,971108,DEBIT,17729.0,34867.5,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
905940,2655,971110,DEBIT,89.0,34778.5,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
...,...,...,...,...,...,...,...,...,...,...
1038368,7049,980228,CREDIT,245.1,62131.4,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821
1038369,7049,980305,DEBIT,58700.0,52950.4,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821
1038370,7049,980305,CREDIT,49519.0,111650.4,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821
1038371,7049,980311,DEBIT,17200.0,35750.4,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821
204858,701,970429,CREDIT,46117.0,72307.2,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821

In [ ]:
df3['date'] = pd.to_datetime(df3['date'], format='%y%m%d')
df3['date']= df3['date'].dt.strftime('%Y-%m-%d')

In [ ]:
# df3.to_excel('Dash.xlsx',index=False)
df3 #This is our final required dataframe

,account_id,date,type,amount,balance,district_id,frequency,A2,A3,A4
769434,2390,1996-03-03,CREDIT,39339.0,40039.0,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
905936,2655,1997-10-31,CREDIT,193.2,78611.1,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
905938,2655,1997-11-01,DEBIT,26000.0,52596.5,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
905939,2655,1997-11-08,DEBIT,17729.0,34867.5,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
905940,2655,1997-11-10,DEBIT,89.0,34778.5,1,MONTHLY ISSUANCE,Hl.m. Praha,Prague,1204953
...,...,...,...,...,...,...,...,...,...,...
1038368,7049,1998-02-28,CREDIT,245.1,62131.4,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821
1038369,7049,1998-03-05,DEBIT,58700.0,52950.4,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821
1038370,7049,1998-03-05,CREDIT,49519.0,111650.4,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821
1038371,7049,1998-03-11,DEBIT,17200.0,35750.4,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821
204858,701,1997-04-29,CREDIT,46117.0,72307.2,69,MONTHLY ISSUANCE,Jesenik,north Moravia,42821

Problem Statement 1

Dash borad for the given problem statement

In [ ]:
dash=df3
del dash['frequency']
del dash['A4']

In [ ]:
dash #Creating dash board we are using dash identifier

,account_id,date,type,amount,balance,district_id,A2,A3
769434,2390,1996-03-03,CREDIT,39339.0,40039.0,1,Hl.m. Praha,Prague
905936,2655,1997-10-31,CREDIT,193.2,78611.1,1,Hl.m. Praha,Prague
905938,2655,1997-11-01,DEBIT,26000.0,52596.5,1,Hl.m. Praha,Prague
905939,2655,1997-11-08,DEBIT,17729.0,34867.5,1,Hl.m. Praha,Prague
905940,2655,1997-11-10,DEBIT,89.0,34778.5,1,Hl.m. Praha,Prague
...,...,...,...,...,...,...,...,...
1038368,7049,1998-02-28,CREDIT,245.1,62131.4,69,Jesenik,north Moravia
1038369,7049,1998-03-05,DEBIT,58700.0,52950.4,69,Jesenik,north Moravia
1038370,7049,1998-03-05,CREDIT,49519.0,111650.4,69,Jesenik,north Moravia
1038371,7049,1998-03-11,DEBIT,17200.0,35750.4,69,Jesenik,north Moravia
204858,701,1997-04-29,CREDIT,46117.0,72307.2,69,Jesenik,north Moravia

In [ ]:
dash = dash[(dash['A3']=='north Moravia') | (dash['A3']=='Prague')|(dash['A3']=='south Moravia')] #As per problem statement we need only north,south Moravia and Prague
dash = dash[(dash['type']=='CREDIT')] #In problem they were mentioned credit transactions

In [ ]:
dash

,account_id,date,type,amount,balance,district_id,A2,A3
769434,2390,1996-03-03,CREDIT,39339.0,40039.0,1,Hl.m. Praha,Prague
905936,2655,1997-10-31,CREDIT,193.2,78611.1,1,Hl.m. Praha,Prague
905943,2655,1997-11-18,CREDIT,38435.0,68974.5,1,Hl.m. Praha,Prague
905945,2655,1997-11-30,CREDIT,241.6,59316.1,1,Hl.m. Praha,Prague
905948,2655,1997-12-02,CREDIT,30867.0,76668.5,1,Hl.m. Praha,Prague
...,...,...,...,...,...,...,...,...
1038365,7049,1998-01-31,CREDIT,193.2,51167.3,69,Jesenik,north Moravia
1038366,7049,1998-02-05,CREDIT,49519.0,100686.3,69,Jesenik,north Moravia
1038368,7049,1998-02-28,CREDIT,245.1,62131.4,69,Jesenik,north Moravia
1038370,7049,1998-03-05,CREDIT,49519.0,111650.4,69,Jesenik,north Moravia
204858,701,1997-04-29,CREDIT,46117.0,72307.2,69,Jesenik,north Moravia

Aggregation view

1.Account-wise aggregation view

In [ ]:
import pandas as pd
account_wise=dash.groupby('account_id')['amount'].sum()
p1=account_wise.reset_index()
# p1.to_excel('Account_wise.xlsx', sheet_name='Accoutn_wise', index=False)

2.Account-Month-wise aggreation

In [ ]:
dash['date']=pd.to_datetime(dash['date'])
dash['month']=dash['date'].dt.month
dash['year']=dash['date'].dt.year

In [ ]:
# dash.to_excel('Dash.xlsx',index=False)

In [ ]:
account_month_view=dash.groupby(['account_id','month'])['amount'].sum()
# account_month_view.reset_index().to_excel('Account_Month_wise.xlsx', sheet_name='Account_Month_wise', index=False)

Month_Wise

In [ ]:
month_wise_view = dash.groupby(['month','year'])['amount'].sum()
# month_wise_view.reset_index().to_excel('Month_wise.xlsx', sheet_name='Month_wise', index=False)

In [ ]:
# import pandas as pd

# # Upload the Excel files to your Google Colab environment
# from google.colab import files
# uploaded = files.upload()

# # Load the two Excel files into DataFrames
# file1 = pd.read_excel('Account_Month_wise.xlsx')
# file2 = pd.read_excel('Account_wise.xlsx')
# file3 = pd.read_excel('Month_wise.xlsx')
# file4 = pd.read_excel('Dash.xlsx')
# # Create an Excel writer object
# excel_writer = pd.ExcelWriter('p1_output.xlsx')

# # Write DataFrames to separate sheets
# file1.to_excel(excel_writer, sheet_name='Account_Month__wise', index=False)
# file2.to_excel(excel_writer, sheet_name='Account_wise', index=False)
# file3.to_excel(excel_writer, sheet_name='Month_wise', index=False)
# file4.to_excel(excel_writer, sheet_name='Dash_Board',index=False)
# # Save the merged Excel file
# excel_writer.save()

# # Download the merged Excel file
# files.download('p1_output.xlsx')

Problem statement 2

Find out the 5 highest populated and lowest populated districts and their credict and debit transactions last 3 months

In [ ]:
tab=df['New_Transaction']
tab

,Unnamed: 0,account_id,date,type,operation,amount,balance,k_symbol
0,1,2378,930101,CREDIT,CREDIT IN CASH,700.0,700.0,NaN
1,2,576,930101,CREDIT,CREDIT IN CASH,900.0,900.0,NaN
2,3,704,930101,CREDIT,CREDIT IN CASH,1000.0,1000.0,NaN
3,4,3818,930101,CREDIT,CREDIT IN CASH,600.0,600.0,NaN
4,5,1972,930102,CREDIT,CREDIT IN CASH,400.0,400.0,NaN
...,...,...,...,...,...,...,...,...
1048570,1048571,3779,981219,DEBIT,CASH WITHDRAWAL,12200.0,59783.7,NaN
1048571,1048572,3787,981219,DEBIT,CASH WITHDRAWAL,2600.0,81497.4,NaN
1048572,1048573,3789,981219,DEBIT,CASH WITHDRAWAL,4900.0,44784.0,NaN
1048573,1048574,3791,981219,DEBIT,CASH WITHDRAWAL,23500.0,60146.1,NaN
1048574,1048575,3789,981219,DEBIT,CASH WITHDRAWAL,11100.0,33684.0,NaN

In [ ]:
del tab['k_symbol']# deleting unwanted columns
del tab['balance']
del tab['operation']
del tab['Unnamed: 0']
tab

         account_id    date    type   amount
0              2378  930101  CREDIT    700.0
1               576  930101  CREDIT    900.0
2               704  930101  CREDIT   1000.0
3              3818  930101  CREDIT    600.0
4              1972  930102  CREDIT    400.0
...             ...     ...     ...      ...
1048570        3779  981219   DEBIT  12200.0
1048571        3787  981219   DEBIT   2600.0
1048572        3789  981219   DEBIT   4900.0
1048573        3791  981219   DEBIT  23500.0
1048574        3789  981219   DEBIT  11100.0

[1048575 rows x 4 columns]

In [ ]:
tab=pd.merge(tab,df['New_Account'],on="account_id") #Merging the dataframes of account and transaction
tab

         account_id    date    type   amount  district_id         frequency
0              2378  930101  CREDIT    700.0           16  MONTHLY ISSUANCE
1              2378  930122  CREDIT   7268.0           16  MONTHLY ISSUANCE
2              2378  930123  CREDIT  14440.0           16  MONTHLY ISSUANCE
3              2378  930124  CREDIT  49752.0           16  MONTHLY ISSUANCE
4              2378  930126  CREDIT  21899.0           16  MONTHLY ISSUANCE
...             ...     ...     ...      ...          ...               ...
1048570        1573  981130  CREDIT     70.8           63  MONTHLY ISSUANCE
1048571        1573  981130   DEBIT   2560.0           63  MONTHLY ISSUANCE
1048572        1573  981130   DEBIT     14.6           63  MONTHLY ISSUANCE
1048573        1573  981209  CREDIT   5492.0           63  MONTHLY ISSUANCE
1048574        1573  981211   DEBIT   3638.0           63  MONTHLY ISSUANCE

[1048575 rows x 6 columns]

In [ ]:
del tab['frequency']

In [ ]:
tab=tab.merge(df['District'],left_on="district_id",right_on='A1') #Merging
tab

,account_id,date,type,amount,district_id,A1,A2,A3,A4,A5,...,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,2378,930101,CREDIT,700.0,16,16,Jindrichuv Hradec,south Bohemia,93931,74,...,10,1,8,56.9,8427,1.12,1.54,107,1874,1913
1,2378,930122,CREDIT,7268.0,16,16,Jindrichuv Hradec,south Bohemia,93931,74,...,10,1,8,56.9,8427,1.12,1.54,107,1874,1913
2,2378,930123,CREDIT,14440.0,16,16,Jindrichuv Hradec,south Bohemia,93931,74,...,10,1,8,56.9,8427,1.12,1.54,107,1874,1913
3,2378,930124,CREDIT,49752.0,16,16,Jindrichuv Hradec,south Bohemia,93931,74,...,10,1,8,56.9,8427,1.12,1.54,107,1874,1913
4,2378,930126,CREDIT,21899.0,16,16,Jindrichuv Hradec,south Bohemia,93931,74,...,10,1,8,56.9,8427,1.12,1.54,107,1874,1913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2152,981130,DEBIT,14.6,22,22,Domazlice,west Bohemia,58400,65,...,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
1048571,2152,981130,CREDIT,95.8,22,22,Domazlice,west Bohemia,58400,65,...,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
1048572,2152,981205,DEBIT,3191.0,22,22,Domazlice,west Bohemia,58400,65,...,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
1048573,2152,981206,CREDIT,4880.0,22,22,Domazlice,west Bohemia,58400,65,...,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
1048574,2152,981206,DEBIT,1200.0,22,22,Domazlice,west Bohemia,58400,65,...,4,1,6,52.4,8620,1.1,1.25,100,1089,1117

In [ ]:
del tab['A1']

In [ ]:
tab

,account_id,date,type,amount,district_id,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,2378,930101,CREDIT,700.0,16,Jindrichuv Hradec,south Bohemia,93931,74,21,10,1,8,56.9,8427,1.12,1.54,107,1874,1913
1,2378,930122,CREDIT,7268.0,16,Jindrichuv Hradec,south Bohemia,93931,74,21,10,1,8,56.9,8427,1.12,1.54,107,1874,1913
2,2378,930123,CREDIT,14440.0,16,Jindrichuv Hradec,south Bohemia,93931,74,21,10,1,8,56.9,8427,1.12,1.54,107,1874,1913
3,2378,930124,CREDIT,49752.0,16,Jindrichuv Hradec,south Bohemia,93931,74,21,10,1,8,56.9,8427,1.12,1.54,107,1874,1913
4,2378,930126,CREDIT,21899.0,16,Jindrichuv Hradec,south Bohemia,93931,74,21,10,1,8,56.9,8427,1.12,1.54,107,1874,1913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2152,981130,DEBIT,14.6,22,Domazlice,west Bohemia,58400,65,16,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
1048571,2152,981130,CREDIT,95.8,22,Domazlice,west Bohemia,58400,65,16,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
1048572,2152,981205,DEBIT,3191.0,22,Domazlice,west Bohemia,58400,65,16,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
1048573,2152,981206,CREDIT,4880.0,22,Domazlice,west Bohemia,58400,65,16,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
1048574,2152,981206,DEBIT,1200.0,22,Domazlice,west Bohemia,58400,65,16,4,1,6,52.4,8620,1.1,1.25,100,1089,1117

In [ ]:
del tab['A5'] #deleting unwanted columns
del tab['A6']
del tab['A7']
del tab['A8']
del tab['A9']
del tab['A10']
del tab['A11']
del tab['A12']
del tab['A13']
del tab['A14']
del tab['A15']
del tab['A16']

In [ ]:
tab

,account_id,date,type,amount,district_id,A2,A3,A4
0,2378,930101,CREDIT,700.0,16,Jindrichuv Hradec,south Bohemia,93931
1,2378,930122,CREDIT,7268.0,16,Jindrichuv Hradec,south Bohemia,93931
2,2378,930123,CREDIT,14440.0,16,Jindrichuv Hradec,south Bohemia,93931
3,2378,930124,CREDIT,49752.0,16,Jindrichuv Hradec,south Bohemia,93931
4,2378,930126,CREDIT,21899.0,16,Jindrichuv Hradec,south Bohemia,93931
...,...,...,...,...,...,...,...,...
1048570,2152,981130,DEBIT,14.6,22,Domazlice,west Bohemia,58400
1048571,2152,981130,CREDIT,95.8,22,Domazlice,west Bohemia,58400
1048572,2152,981205,DEBIT,3191.0,22,Domazlice,west Bohemia,58400
1048573,2152,981206,CREDIT,4880.0,22,Domazlice,west Bohemia,58400
1048574,2152,981206,DEBIT,1200.0,22,Domazlice,west Bohemia,58400

In [ ]:
tab=tab.sort_values(by='A4',ascending=False) #Here A4 contains population of each district so we sort it
tab

,account_id,date,type,amount,district_id,A2,A3,A4
162942,3449,970120,DEBIT,500.0,1,Hl.m. Praha,Prague,1204953
140901,6118,970930,DEBIT,30.0,1,Hl.m. Praha,Prague,1204953
140891,6118,970818,DEBIT,3600.0,1,Hl.m. Praha,Prague,1204953
140892,6118,970819,CREDIT,20645.0,1,Hl.m. Praha,Prague,1204953
140893,6118,970830,DEBIT,7200.0,1,Hl.m. Praha,Prague,1204953
...,...,...,...,...,...,...,...,...
881818,3136,960409,DEBIT,3489.0,69,Jesenik,north Moravia,42821
881819,3136,960414,DEBIT,2655.0,69,Jesenik,north Moravia,42821
881820,3136,960423,DEBIT,2100.0,69,Jesenik,north Moravia,42821
881821,3136,960430,DEBIT,14.6,69,Jesenik,north Moravia,42821
883172,4514,980531,CREDIT,218.0,69,Jesenik,north Moravia,42821

In [ ]:
val=tab.iloc[:,7]
dat=set(i for i in val) #for taking top 5 districts of High populated and low populated here used set because set is ordered and avoid duplicates
dat

{42821,
 45714,
 51313,
 51428,
 53921,
 58400,
 58796,
 67298,
 70646,
 70699,
 72541,
 74062,
 75232,
 75637,
 75685,
 77917,
 77963,
 78955,
 81344,
 85852,
 86513,
 87419,
 88757,
 88768,
 88884,
 92084,
 93931,
 94725,
 94812,
 95616,
 95907,
 102609,
 103347,
 105058,
 105606,
 106054,
 107870,
 107911,
 108871,
 109164,
 110643,
 112065,
 112709,
 114006,
 114200,
 117897,
 118650,
 119895,
 121947,
 122603,
 124605,
 125236,
 125832,
 127369,
 128118,
 133777,
 138032,
 139012,
 145688,
 148545,
 149893,
 157042,
 159617,
 161227,
 161854,
 161954,
 162580,
 170449,
 177686,
 182027,
 197099,
 226122,
 228848,
 285387,
 323870,
 387570,
 1204953}

In [ ]:
tab=tab[(tab['A4']==42821)|(tab['A4']==45714)|
           (tab['A4']==51313)|
            (tab['A4']==53921)|
             (tab['A4']==51428)|
              (tab['A4']==228848)|
               (tab['A4']==285387)|
                (tab['A4']==323870)|
                 (tab['A4']==387570)|
                  (tab['A4']==1204953)]
# here selected required populated district rows
tab

,account_id,date,type,amount,district_id,A2,A3,A4
162942,3449,970120,DEBIT,500.0,1,Hl.m. Praha,Prague,1204953
140901,6118,970930,DEBIT,30.0,1,Hl.m. Praha,Prague,1204953
140891,6118,970818,DEBIT,3600.0,1,Hl.m. Praha,Prague,1204953
140892,6118,970819,CREDIT,20645.0,1,Hl.m. Praha,Prague,1204953
140893,6118,970830,DEBIT,7200.0,1,Hl.m. Praha,Prague,1204953
...,...,...,...,...,...,...,...,...
881818,3136,960409,DEBIT,3489.0,69,Jesenik,north Moravia,42821
881819,3136,960414,DEBIT,2655.0,69,Jesenik,north Moravia,42821
881820,3136,960423,DEBIT,2100.0,69,Jesenik,north Moravia,42821
881821,3136,960430,DEBIT,14.6,69,Jesenik,north Moravia,42821
883172,4514,980531,CREDIT,218.0,69,Jesenik,north Moravia,42821

In [ ]:
tab=tab.sort_values(by="date",ascending=False)
tab

,account_id,date,type,amount,district_id,A2,A3,A4
432923,5891,981219,DEBIT,4700.0,54,Brno - mesto,south Moravia,387570
58158,3048,981219,DEBIT,3000.0,74,Ostrava - mesto,north Moravia,323870
208092,1890,981219,DEBIT,14849.0,1,Hl.m. Praha,Prague,1204953
27364,7753,981219,DEBIT,2200.0,74,Ostrava - mesto,north Moravia,323870
857728,122,981219,DEBIT,28500.0,31,Tachov,west Bohemia,51313
...,...,...,...,...,...,...,...,...
283268,2881,930104,CREDIT,700.0,70,Karvina,north Moravia,285387
270472,2357,930104,CREDIT,800.0,19,Prachatice,south Bohemia,51428
79686,1539,930103,CREDIT,600.0,1,Hl.m. Praha,Prague,1204953
24781,2484,930103,CREDIT,1100.0,74,Ostrava - mesto,north Moravia,323870
24222,3818,930101,CREDIT,600.0,74,Ostrava - mesto,north Moravia,323870

In [ ]:
# As problem statement the analysis should be 3 last 3 months
comput=tab[tab['date']>980931]
comput

,account_id,date,type,amount,district_id,A2,A3,A4
432923,5891,981219,DEBIT,4700.0,54,Brno - mesto,south Moravia,387570
58158,3048,981219,DEBIT,3000.0,74,Ostrava - mesto,north Moravia,323870
208092,1890,981219,DEBIT,14849.0,1,Hl.m. Praha,Prague,1204953
27364,7753,981219,DEBIT,2200.0,74,Ostrava - mesto,north Moravia,323870
857728,122,981219,DEBIT,28500.0,31,Tachov,west Bohemia,51313
...,...,...,...,...,...,...,...,...
726887,2262,981001,DEBIT,46400.0,13,Rakovnik,central Bohemia,53921
455867,2610,981001,DEBIT,880.0,54,Brno - mesto,south Moravia,387570
111841,3152,981001,DEBIT,4100.0,1,Hl.m. Praha,Prague,1204953
192785,2156,981001,DEBIT,16600.0,1,Hl.m. Praha,Prague,1204953
131627,6806,981001,DEBIT,13200.0,1,Hl.m. Praha,Prague,1204953

In [ ]:
comput=comput.sort_values('A4')
comput.to_excel('All_10_city.xlsx')

In [ ]:
values=comput.iloc[:,7]
data=set(i for i in values) #verifying the populations of 10 districts
data

{42821, 45714, 51313, 51428, 53921, 228848, 285387, 323870, 387570, 1204953}

AMOUNT IN THE 5 HIGHESH POPULATED AND LOWEST POPULATED DISTRICTS

In [ ]:
comput.groupby('A2')['amount'].sum()

A2
Brno - mesto       11083612.6
Frydek - Mistek     9516532.6
Hl.m. Praha        56937738.8
Jesenik             5060647.5
Karvina            14162105.1
Ostrava - mesto    13694970.2
Prachatice          6093109.1
Rakovnik            4454667.4
Rokycany            4492728.3
Tachov              4576710.5
Name: amount, dtype: float64

In [ ]:
lp_dist_tab=comput[(comput['A4']==42821)|(comput['A4']==45714)|(comput['A4']==51313)|(comput['A4']==53921)|(comput['A4']==51428)]
# lp_dist_tab.to_excel('LP_Dist.xlsx',index=False)
lp_dist_tab #here we take ateframe only for5 low populated districts

,account_id,date,type,amount,district_id,A2,A3,A4
882030,3136,981031,DEBIT,14.6,69,Jesenik,north Moravia,42821
886797,242,981103,DEBIT,3480.0,69,Jesenik,north Moravia,42821
887847,1390,981206,CREDIT,16107.0,69,Jesenik,north Moravia,42821
885697,2890,981119,DEBIT,2100.0,69,Jesenik,north Moravia,42821
883201,4514,981130,CREDIT,201.8,69,Jesenik,north Moravia,42821
...,...,...,...,...,...,...,...,...
721574,419,981212,CREDIT,6900.0,13,Rakovnik,central Bohemia,53921
721266,3323,981211,DEBIT,14000.0,13,Rakovnik,central Bohemia,53921
719902,8261,981112,DEBIT,16700.0,13,Rakovnik,central Bohemia,53921
727348,859,981130,CREDIT,156.4,13,Rakovnik,central Bohemia,53921
724297,5066,981031,CREDIT,11.5,13,Rakovnik,central Bohemia,53921

AMOUNT FOR 5 LOW POPULATED DISTRICTS

In [ ]:
lp_dist_tab.groupby('A2')['amount'].sum()
# lp_dist_tab.reset_index()

A2
Jesenik       5060647.5
Prachatice    6093109.1
Rakovnik      4454667.4
Rokycany      4492728.3
Tachov        4576710.5
Name: amount, dtype: float64

In [ ]:
hp_dist_tab=comput[(comput['A4']==228848)|(comput['A4']==323870)|(comput['A4']==387570)|(comput['A4']==1204953)|(comput['A4']==285387)]
# hp_dist_tab.to_excel("Hp_dist.xlsx",index=False)
hp_dist_tab #here we take only high populated 5 districts

,account_id,date,type,amount,district_id,A2,A3,A4
414221,218,981130,CREDIT,231.3,68,Frydek - Mistek,north Moravia,228848
415886,2604,981203,DEBIT,1200.0,68,Frydek - Mistek,north Moravia,228848
413769,2015,981127,DEBIT,4680.0,68,Frydek - Mistek,north Moravia,228848
403850,115,981204,DEBIT,4900.0,68,Frydek - Mistek,north Moravia,228848
417317,2917,981130,CREDIT,144.0,68,Frydek - Mistek,north Moravia,228848
...,...,...,...,...,...,...,...,...
174140,9024,981130,CREDIT,144.2,1,Hl.m. Praha,Prague,1204953
96284,4093,981031,DEBIT,14.6,1,Hl.m. Praha,Prague,1204953
174139,9024,981130,DEBIT,14.6,1,Hl.m. Praha,Prague,1204953
193051,3098,981130,CREDIT,170.9,1,Hl.m. Praha,Prague,1204953
131627,6806,981001,DEBIT,13200.0,1,Hl.m. Praha,Prague,1204953

AMOUNT FOR 5 HIGHLY POPULATED DISTRICTS

In [ ]:
hp_dist_tab.groupby('A2')['amount'].sum()
# hp_dist_tab.reset_index()

A2
Brno - mesto       11083612.6
Frydek - Mistek     9516532.6
Hl.m. Praha        56937738.8
Karvina            14162105.1
Ostrava - mesto    13694970.2
Name: amount, dtype: float64

In [ ]:
# from google.colab import files
# # uploaded = files.upload()

# # Load the two Excel files into DataFrames
# file1 = pd.read_excel('All_10_city.xlsx')
# file2 = pd.read_excel('LP_Dist.xlsx')
# file3 = pd.read_excel('Hp_dist.xlsx')
# file4=pd.read_excel('lpamount.xlsx')
# file5=pd.read_excel('hpamount.xlsx')
# # Create an Excel writer object
# excel_writer = pd.ExcelWriter('p2_output.xlsx')

# # Write DataFrames to separate sheets
# file1.to_excel(excel_writer, sheet_name='Ten_District', index=False)
# file2.to_excel(excel_writer, sheet_name='LOW_populated_Dist', index=False)
# file3.to_excel(excel_writer, sheet_name='High_populated', index=False)
# file4.to_excel(excel_writer, sheet_name='lp_total_amount',index=False)
# file5.to_excel(excel_writer, sheet_name='hp_total_amount',index=False)
# # Save the merged Excel file
# excel_writer.save()

# # Download the merged Excel file
# files.download('p2_output.xlsx')

Problem statement 3
 NUMBER OF CARDS ISSED TO THE MIDDLE AGED FEMALE

In [ ]:
card=df['New_Card']

In [ ]:
card

     card_id  disp_id     type  issued
0       1005     9285  CLASSIC  931107
1        104      588  CLASSIC  940119
2        747     4915  CLASSIC  940205
3         70      439  CLASSIC  940208
4        577     3687  CLASSIC  940215
..       ...      ...      ...     ...
887      125      694     GOLD  981226
888      674     4360  CLASSIC  981228
889      322     2063  CLASSIC  981228
890      685     4467  CLASSIC  981229
891      635     4083  CLASSIC  981229

[892 rows x 4 columns]

In [ ]:
tempm=df['New_Client']
tempm=tempm.iloc[:,1:]
tempm

      client_id  birth_number  district_id  gender  age   age_levels
0             1        701213           18  FEMALE   29        ADULT
1             2        450204            1    MALE   54  MIDDLE AGED
2             3        401009            1  FEMALE   59  MIDDLE AGED
3             4        561201            5    MALE   43  MIDDLE AGED
4             5        600703            5  FEMALE   39  MIDDLE AGED
...         ...           ...          ...     ...  ...          ...
5364      13955        451030            1  FEMALE   54  MIDDLE AGED
5365      13956        430406            1    MALE   56  MIDDLE AGED
5366      13968        680413           61    MALE   31        ADULT
5367      13971        621019           67  FEMALE   37  MIDDLE AGED
5368      13998        530812           74  FEMALE   46  MIDDLE AGED

[5369 rows x 6 columns]

In [ ]:
tempdis=df['New_Disposition']
tempdis

      disp_id  client_id  account_id   type
0           1          1           1  OWNER
1           2          2           2  OWNER
2           3          3           2   USER
3           4          4           3  OWNER
4           5          5           3   USER
...       ...        ...         ...    ...
5364    13647      13955       11349  OWNER
5365    13648      13956       11349   USER
5366    13660      13968       11359  OWNER
5367    13663      13971       11362  OWNER
5368    13690      13998       11382  OWNER

[5369 rows x 4 columns]

In [ ]:
del tempdis['account_id']
del tempdis['type']

In [ ]:
tempdis

      disp_id  client_id
0           1          1
1           2          2
2           3          3
3           4          4
4           5          5
...       ...        ...
5364    13647      13955
5365    13648      13956
5366    13660      13968
5367    13663      13971
5368    13690      13998

[5369 rows x 2 columns]

In [ ]:
merg1=pd.merge(tempdis,tempm,on='client_id')
merg1

      disp_id  client_id  birth_number  district_id  gender  age   age_levels
0           1          1        701213           18  FEMALE   29        ADULT
1           2          2        450204            1    MALE   54  MIDDLE AGED
2           3          3        401009            1  FEMALE   59  MIDDLE AGED
3           4          4        561201            5    MALE   43  MIDDLE AGED
4           5          5        600703            5  FEMALE   39  MIDDLE AGED
...       ...        ...           ...          ...     ...  ...          ...
5364    13647      13955        451030            1  FEMALE   54  MIDDLE AGED
5365    13648      13956        430406            1    MALE   56  MIDDLE AGED
5366    13660      13968        680413           61    MALE   31        ADULT
5367    13663      13971        621019           67  FEMALE   37  MIDDLE AGED
5368    13690      13998        530812           74  FEMALE   46  MIDDLE AGED

[5369 rows x 7 columns]

In [ ]:
merg2=pd.merge(merg1,card,on='disp_id')
merg2

,disp_id,client_id,birth_number,district_id,gender,age,age_levels,card_id,type,issued
0,9,9,351016,60,MALE,64,MIDDLE AGED,1,GOLD,981016
1,19,19,421228,47,MALE,57,MIDDLE AGED,2,CLASSIC,980313
2,41,41,680827,22,MALE,31,ADULT,3,GOLD,950903
3,42,42,350817,68,MALE,64,MIDDLE AGED,4,CLASSIC,981126
4,51,51,791202,36,FEMALE,20,YOUTH,5,JUNIOR,950424
...,...,...,...,...,...,...,...,...,...,...
887,13312,13620,700726,16,MALE,29,ADULT,1230,CLASSIC,980308
888,13382,13690,630516,70,MALE,36,MIDDLE AGED,1233,CLASSIC,960706
889,13386,13694,760120,1,FEMALE,23,YOUTH,1234,CLASSIC,971128
890,13442,13750,801113,12,FEMALE,19,YOUTH,1239,JUNIOR,980202
891,13660,13968,680413,61,MALE,31,ADULT,1247,CLASSIC,950613

In [ ]:
del merg2['type']
del merg2['client_id']

In [ ]:
merg2

,disp_id,birth_number,district_id,gender,age,age_levels,card_id,issued
0,9,351016,60,MALE,64,MIDDLE AGED,1,981016
1,19,421228,47,MALE,57,MIDDLE AGED,2,980313
2,41,680827,22,MALE,31,ADULT,3,950903
3,42,350817,68,MALE,64,MIDDLE AGED,4,981126
4,51,791202,36,FEMALE,20,YOUTH,5,950424
...,...,...,...,...,...,...,...,...
887,13312,700726,16,MALE,29,ADULT,1230,980308
888,13382,630516,70,MALE,36,MIDDLE AGED,1233,960706
889,13386,760120,1,FEMALE,23,YOUTH,1234,971128
890,13442,801113,12,FEMALE,19,YOUTH,1239,980202
891,13660,680413,61,MALE,31,ADULT,1247,950613

In [ ]:
new_card_mid_female=merg2[(merg2['age_levels']=="MIDDLE AGED") & (merg2['gender']=='FEMALE')]
# new_card_mid_female.to_excel('p3_output.xlsx',index=False)
new_card_mid_female

,disp_id,birth_number,district_id,gender,age,age_levels,card_id,issued
8,77,560218,1,FEMALE,43,MIDDLE AGED,10,961207
11,87,461117,72,FEMALE,53,MIDDLE AGED,13,940629
15,127,501227,21,FEMALE,49,MIDDLE AGED,17,980607
21,146,611219,31,FEMALE,38,MIDDLE AGED,23,981003
23,158,450703,40,FEMALE,54,MIDDLE AGED,25,971206
...,...,...,...,...,...,...,...,...
861,12070,460827,76,FEMALE,53,MIDDLE AGED,1154,980905
863,12269,500505,62,FEMALE,49,MIDDLE AGED,1164,960812
865,12335,620720,69,FEMALE,37,MIDDLE AGED,1167,980718
867,12442,400525,21,FEMALE,59,MIDDLE AGED,1173,970508
880,12826,621103,1,FEMALE,37,MIDDLE AGED,1199,980309

In [ ]:
# ta['column_name'].value_counts()[value]
new_card_mid_female_count=new_card_mid_female['age_levels'].value_counts()['MIDDLE AGED']
new_card_mid_female_count

227

In [ ]:
#here the card issued to the female middle aged is 227

Problem statement 4

Number of cards issued in district where average salary is more than 9000, is it a good strategy?

In [ ]:
dat=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name="District")

In [ ]:
#deleting unwanted columns
del dat['A4']
del dat['A5']
del dat['A6']
del dat['A7']
del dat['A8']
del dat['A9']
del dat['A10']
del dat['A15']
del dat['A12']
del dat['A13']
del dat['A14']
del dat['A16']

In [ ]:
dat

    A1               A2               A3    A11
0    1      Hl.m. Praha           Prague  12541
1    2          Benesov  central Bohemia   8507
2    3           Beroun  central Bohemia   8980
3    4           Kladno  central Bohemia   9753
4    5            Kolin  central Bohemia   9307
..  ..              ...              ...    ...
72  73            Opava    north Moravia   8746
73  74  Ostrava - mesto    north Moravia  10673
74  75           Prerov    north Moravia   8819
75  76          Sumperk    north Moravia   8369
76  77           Vsetin    north Moravia   8909

[77 rows x 4 columns]

In [ ]:
dat=dat[(dat['A11']>9000)]
dat

    A1                   A2               A3    A11
0    1          Hl.m. Praha           Prague  12541
3    4               Kladno  central Bohemia   9753
4    5                Kolin  central Bohemia   9307
6    7               Melnik  central Bohemia   9920
7    8       Mlada Boleslav  central Bohemia  11277
9   10       Praha - vychod  central Bohemia  10124
10  11        Praha - zapad  central Bohemia   9622
13  14     Ceske Budejovice    south Bohemia  10045
14  15        Cesky Krumlov    south Bohemia   9045
20  21                Tabor    south Bohemia   9104
25  26        Plzen - mesto     west Bohemia  10787
29  30              Sokolov     west Bohemia   9650
31  32           Ceska Lipa    north Bohemia   9272
33  34             Chomutov    north Bohemia   9675
35  36              Liberec    north Bohemia   9198
36  37           Litomerice    north Bohemia   9065
38  39                 Most    north Bohemia  10446
39  40              Teplice    north Bohemia   9317
40  41       Usti nad Labem    north Bohemia   9832
42  43       Hradec Kralove     east Bohemia   9425
46  47            Pardubice     east Bohemia   9538
47  48  Rychnov nad Kneznou     east Bohemia   9060
53  54         Brno - mesto    south Moravia   9897
63  64                 Zlin    south Moravia   9624
67  68      Frydek - Mistek    north Moravia   9893
69  70              Karvina    north Moravia  10177
73  74      Ostrava - mesto    north Moravia  10673

In [ ]:
m_acc_dist=df['New_Account'].merge(dat,left_on="district_id",right_on='A1')
m_acc_dist

,account_id,district_id,frequency,A1,A2,A3,A11
0,3818,74,MONTHLY ISSUANCE,74,Ostrava - mesto,north Moravia,10673
1,2484,74,MONTHLY ISSUANCE,74,Ostrava - mesto,north Moravia,10673
2,1338,74,MONTHLY ISSUANCE,74,Ostrava - mesto,north Moravia,10673
3,11295,74,MONTHLY ISSUANCE,74,Ostrava - mesto,north Moravia,10673
4,1179,74,MONTHLY ISSUANCE,74,Ostrava - mesto,north Moravia,10673
...,...,...,...,...,...,...,...
2136,3202,8,MONTHLY ISSUANCE,8,Mlada Boleslav,central Bohemia,11277
2137,2404,8,MONTHLY ISSUANCE,8,Mlada Boleslav,central Bohemia,11277
2138,3461,8,MONTHLY ISSUANCE,8,Mlada Boleslav,central Bohemia,11277
2139,3916,8,MONTHLY ISSUANCE,8,Mlada Boleslav,central Bohemia,11277
2140,566,8,MONTHLY ISSUANCE,8,Mlada Boleslav,central Bohemia,11277

In [ ]:
del m_acc_dist['A1']

In [ ]:
dispo=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Disposition')
m_acc_dist_dispo=pd.merge(m_acc_dist,dispo,on='account_id')
m_acc_dist_dispo

,account_id,district_id,frequency,A2,A3,A11,disp_id,client_id,type
0,3818,74,MONTHLY ISSUANCE,Ostrava - mesto,north Moravia,10673,4601,4601,OWNER
1,3818,74,MONTHLY ISSUANCE,Ostrava - mesto,north Moravia,10673,4602,4602,USER
2,2484,74,MONTHLY ISSUANCE,Ostrava - mesto,north Moravia,10673,2999,2999,OWNER
3,1338,74,MONTHLY ISSUANCE,Ostrava - mesto,north Moravia,10673,1619,1619,OWNER
4,1338,74,MONTHLY ISSUANCE,Ostrava - mesto,north Moravia,10673,1620,1620,USER
...,...,...,...,...,...,...,...,...,...
2544,2404,8,MONTHLY ISSUANCE,Mlada Boleslav,central Bohemia,11277,2903,2903,USER
2545,3461,8,MONTHLY ISSUANCE,Mlada Boleslav,central Bohemia,11277,4184,4184,OWNER
2546,3916,8,MONTHLY ISSUANCE,Mlada Boleslav,central Bohemia,11277,4722,4722,OWNER
2547,566,8,MONTHLY ISSUANCE,Mlada Boleslav,central Bohemia,11277,679,679,OWNER
2548,566,8,MONTHLY ISSUANCE,Mlada Boleslav,central Bohemia,11277,680,680,USER

In [ ]:
del m_acc_dist_dispo['type']

In [ ]:
ca=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Card')
ca

     card_id  disp_id     type  issued
0       1005     9285  CLASSIC  931107
1        104      588  CLASSIC  940119
2        747     4915  CLASSIC  940205
3         70      439  CLASSIC  940208
4        577     3687  CLASSIC  940215
..       ...      ...      ...     ...
887      125      694     GOLD  981226
888      674     4360  CLASSIC  981228
889      322     2063  CLASSIC  981228
890      685     4467  CLASSIC  981229
891      635     4083  CLASSIC  981229

[892 rows x 4 columns]

In [ ]:
m_acc_dist_dispo_card=pd.merge(m_acc_dist_dispo,ca,on='disp_id')
m_acc_dist_dispo_card

,account_id,district_id,frequency,A2,A3,A11,disp_id,client_id,card_id,type,issued
0,7753,74,MONTHLY ISSUANCE,Ostrava - mesto,north Moravia,10673,9285,9593,1005,CLASSIC,931107
1,830,74,MONTHLY ISSUANCE,Ostrava - mesto,north Moravia,10673,999,999,166,CLASSIC,950305
2,3391,74,MONTHLY ISSUANCE,Ostrava - mesto,north Moravia,10673,4100,4100,638,GOLD,971014
3,4159,74,MONTHLY ISSUANCE,Ostrava - mesto,north Moravia,10673,5013,5013,757,JUNIOR,980522
4,6363,74,MONTHLY ISSUANCE,Ostrava - mesto,north Moravia,10673,7683,7683,906,GOLD,980518
...,...,...,...,...,...,...,...,...,...,...,...
432,1328,8,MONTHLY ISSUANCE,Mlada Boleslav,central Bohemia,11277,1607,1607,258,CLASSIC,970126
433,3359,8,MONTHLY ISSUANCE,Mlada Boleslav,central Bohemia,11277,4061,4061,631,JUNIOR,980609
434,4715,8,MONTHLY ISSUANCE,Mlada Boleslav,central Bohemia,11277,5684,5684,801,CLASSIC,970615
435,1182,8,MONTHLY ISSUANCE,Mlada Boleslav,central Bohemia,11277,1424,1424,234,CLASSIC,970929
436,566,8,MONTHLY ISSUANCE,Mlada Boleslav,central Bohemia,11277,679,679,123,CLASSIC,980612

In [ ]:
del m_acc_dist_dispo_card['frequency']

In [ ]:
# m_acc_dist_dispo_card.to_excel('p4_output.xlsx',index=False)
m_acc_dist_dispo_card

,account_id,district_id,A2,A3,A11,disp_id,client_id,card_id,type,issued
0,7753,74,Ostrava - mesto,north Moravia,10673,9285,9593,1005,CLASSIC,931107
1,830,74,Ostrava - mesto,north Moravia,10673,999,999,166,CLASSIC,950305
2,3391,74,Ostrava - mesto,north Moravia,10673,4100,4100,638,GOLD,971014
3,4159,74,Ostrava - mesto,north Moravia,10673,5013,5013,757,JUNIOR,980522
4,6363,74,Ostrava - mesto,north Moravia,10673,7683,7683,906,GOLD,980518
...,...,...,...,...,...,...,...,...,...,...
432,1328,8,Mlada Boleslav,central Bohemia,11277,1607,1607,258,CLASSIC,970126
433,3359,8,Mlada Boleslav,central Bohemia,11277,4061,4061,631,JUNIOR,980609
434,4715,8,Mlada Boleslav,central Bohemia,11277,5684,5684,801,CLASSIC,970615
435,1182,8,Mlada Boleslav,central Bohemia,11277,1424,1424,234,CLASSIC,970929
436,566,8,Mlada Boleslav,central Bohemia,11277,679,679,123,CLASSIC,980612

In [ ]:
num_cards_dist=m_acc_dist_dispo_card.groupby('A2').count()
num_cards_dist_clients=num_cards_dist.iloc[:,6:7]
num_cards_dist_clients

                     card_id
A2
Brno - mesto              16
Ceska Lipa                 6
Ceske Budejovice           9
Cesky Krumlov             10
Chomutov                   9
Frydek - Mistek           15
Hl.m. Praha              132
Hradec Kralove             5
Karvina                   24
Kladno                    10
Kolin                     15
Liberec                   17
Litomerice                16
Melnik                     7
Mlada Boleslav            10
Most                       8
Ostrava - mesto           22
Pardubice                 17
Plzen - mesto             10
Praha - vychod             7
Praha - zapad              8
Rychnov nad Kneznou        9
Sokolov                    8
Tabor                      9
Teplice                    9
Usti nad Labem            12
Zlin                      17

Problem statement 5

Are we providing loans to members belonging to district where committed crimes are more than 6000 for code 95, if yes then provide the number of loans per district.

In [ ]:
acc=df['New_Account']
loan=df['Loan']
dist=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='District')

In [ ]:
mergacc=pd.merge(acc,loan,on='account_id')
mergacc

,account_id,district_id,frequency,loan_id,date,amount,duration,payments,status
0,5270,44,MONTHLY ISSUANCE,6077,931122,79608,24,3317,A
1,11265,15,MONTHLY ISSUANCE,7284,930915,52788,12,4399,A
2,10364,55,MONTHLY ISSUANCE,7121,931110,21924,36,609,A
3,3834,54,MONTHLY ISSUANCE,5754,940928,23052,12,1921,A
4,9307,68,MONTHLY ISSUANCE,6895,940919,41904,12,3492,A
...,...,...,...,...,...,...,...,...,...
677,9227,51,MONTHLY ISSUANCE,6872,980429,191580,60,3193,C
678,10005,64,MONTHLY ISSUANCE,7035,980729,210744,36,5854,C
679,276,38,MONTHLY ISSUANCE,5027,981202,160920,36,4470,C
680,938,70,MONTHLY ISSUANCE,5147,980521,22260,60,371,C
681,1318,56,MONTHLY ISSUANCE,5226,981011,185544,36,5154,C

In [ ]:
del mergacc['frequency']
del mergacc['status']

In [ ]:
#df2=df['New_Account'].merge(df['District'],left_on="district_id",right_on='A1')
mergacc_dist=mergacc.merge(dist,left_on='district_id',right_on='A1')
del mergacc_dist['A1'] #deleting unwanted columns
del mergacc_dist['A4']
del mergacc_dist['A5']
del mergacc_dist['A6']
del mergacc_dist['A7']
del mergacc_dist['A8']
del mergacc_dist['A9']
del mergacc_dist['A10']
del mergacc_dist['A11']
del mergacc_dist['A12']
del mergacc_dist['A13']
del mergacc_dist['A14']
del mergacc_dist['A16']

In [ ]:
mergacc_dist

,account_id,district_id,loan_id,date,amount,duration,payments,A2,A3,A15
0,5270,44,6077,931122,79608,24,3317,Chrudim,east Bohemia,2166
1,5385,44,6103,940407,149340,60,2489,Chrudim,east Bohemia,2166
2,8027,44,6642,940605,77640,12,6470,Chrudim,east Bohemia,2166
3,3037,44,5593,960418,277884,36,7719,Chrudim,east Bohemia,2166
4,10942,44,7227,951002,314520,60,5242,Chrudim,east Bohemia,2166
...,...,...,...,...,...,...,...,...,...,...
677,6950,36,6415,970212,475680,48,9910,Liberec,north Bohemia,5796
678,4052,36,5799,971228,106128,36,2948,Liberec,north Bohemia,5796
679,8026,36,6641,970909,128268,36,3563,Liberec,north Bohemia,5796
680,1776,36,5313,980527,43200,24,1800,Liberec,north Bohemia,5796
681,6699,35,6355,970924,127200,48,2650,Jablonec n. Nisou,north Bohemia,3384

In [ ]:
mergacc_dist

,account_id,district_id,loan_id,date,amount,duration,payments,A2,A3,A15
0,5270,44,6077,931122,79608,24,3317,Chrudim,east Bohemia,2166
1,5385,44,6103,940407,149340,60,2489,Chrudim,east Bohemia,2166
2,8027,44,6642,940605,77640,12,6470,Chrudim,east Bohemia,2166
3,3037,44,5593,960418,277884,36,7719,Chrudim,east Bohemia,2166
4,10942,44,7227,951002,314520,60,5242,Chrudim,east Bohemia,2166
...,...,...,...,...,...,...,...,...,...,...
677,6950,36,6415,970212,475680,48,9910,Liberec,north Bohemia,5796
678,4052,36,5799,971228,106128,36,2948,Liberec,north Bohemia,5796
679,8026,36,6641,970909,128268,36,3563,Liberec,north Bohemia,5796
680,1776,36,5313,980527,43200,24,1800,Liberec,north Bohemia,5796
681,6699,35,6355,970924,127200,48,2650,Jablonec n. Nisou,north Bohemia,3384

In [ ]:
mergacc_dist.dtypes

account_id      int64
district_id     int64
loan_id         int64
date            int64
amount          int64
duration        int64
payments        int64
A2             object
A3             object
A15            object
dtype: object

In [ ]:
#df['points'] = df['points'].astype(str).astype(int)
# mergacc_dist['A15']=mergacc_dist['A15'].astype(int)
# mergacc_dist['A15']=pd.to_numeric(mergacc_dist['A15'])
# mergacc_dist['A15']=pd.to_numeric(mergacc_dist['A15'], errors='coerce', downcast='integer')
mergacc_dist['A15']=pd.to_numeric(mergacc_dist['A15'],errors='coerce').astype(float).astype('Int64')

In [ ]:
mergacc_dist.dtypes

account_id      int64
district_id     int64
loan_id         int64
date            int64
amount          int64
duration        int64
payments        int64
A2             object
A3             object
A15             Int64
dtype: object

In [ ]:
loanprov=mergacc_dist[mergacc_dist['A15']>6000]
# loanprov.to_excel('p5_output.xlsx',index=False)
loanprov

,account_id,district_id,loan_id,date,amount,duration,payments,A2,A3,A15
25,3834,54,5754,940928,23052,12,1921,Brno - mesto,south Moravia,18721
26,5891,54,6202,940418,65184,12,5432,Brno - mesto,south Moravia,18721
27,790,54,5126,940724,208128,48,4336,Brno - mesto,south Moravia,18721
28,10266,54,7097,931223,75624,24,3151,Brno - mesto,south Moravia,18721
29,344,54,5044,941221,100980,60,1683,Brno - mesto,south Moravia,18721
...,...,...,...,...,...,...,...,...,...,...
554,8159,26,6676,950613,29784,24,1241,Plzen - mesto,west Bohemia,6041
555,1967,26,5350,960421,249312,48,5194,Plzen - mesto,west Bohemia,6041
556,2753,26,5531,970930,66432,24,2768,Plzen - mesto,west Bohemia,6041
557,4803,26,5977,970225,59136,48,1232,Plzen - mesto,west Bohemia,6041
558,9138,26,6851,970603,272220,60,4537,Plzen - mesto,west Bohemia,6041

In [ ]:
loans_count=loanprov.groupby('A2').count()
loans_count=loans_count.sort_values(by='account_id')

In [ ]:
del loans_count['district_id']
del loans_count['date']
del loans_count['amount']
del loans_count['duration']
del loans_count['A3']
del loans_count['A15']
del loans_count['loan_id']
del loans_count['account_id']

In [ ]:
loans_count

                  payments
A2
Usti nad Labem           3
Plzen - mesto            6
Teplice                  6
Ceske Budejovice         8
Pardubice               10
Olomouc                 14
Ostrava - mesto         20
Brno - mesto            24
Karvina                 24
Hl.m. Praha             84

In [ ]:
loans_count['payments'].sum()

199

7. Create profile of customers in accordance of districts where max money is being paid to

a. Insurance.
b. Household
c. Leasing
d. Loan

In [ ]:
order=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='Order')
order=order[(order['k_symbol']=="SIPO")|
 (order['k_symbol']=="UVER")|
 (order['k_symbol']=="POJISTNE")|
 (order['k_symbol']=="LEASING")]
order

      order_id  account_id bank_to  account_to  amount  k_symbol
0        29401           1      YZ    87144583  2452.0      SIPO
1        29402           2      ST    89597016  3372.7      UVER
2        29403           2      QR    13943797  7266.0      SIPO
3        29404           3      WX    83084338  1135.0      SIPO
5        29406           3      AB    59972357  3539.0  POJISTNE
...        ...         ...     ...         ...     ...       ...
6463     46328       11359      EF    37834555  4502.3      UVER
6464     46329       11359      OP    33080721  4518.0      SIPO
6466     46334       11362      YZ    70641225  4780.0      SIPO
6468     46336       11362      ST    40799850   330.0  POJISTNE
6470     46338       11362      MN    61540514  5392.0      UVER

[5092 rows x 6 columns]

In [ ]:
account=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Account')
account_order=pd.merge(account,order,on='account_id')
account_order

,account_id,district_id,frequency,order_id,bank_to,account_to,amount,k_symbol
0,576,55,MONTHLY ISSUANCE,30253,OP,71033382,3662.0,SIPO
1,3818,74,MONTHLY ISSUANCE,35031,QR,35474443,3596.0,SIPO
2,3818,74,MONTHLY ISSUANCE,35033,CD,34760767,4065.0,POJISTNE
3,704,55,MONTHLY ISSUANCE,30436,IJ,15132719,2141.0,SIPO
4,2378,16,MONTHLY ISSUANCE,32909,EF,1222903,9612.0,SIPO
...,...,...,...,...,...,...,...,...
5087,124,55,MONTHLY ISSUANCE,29607,OP,34663748,971.0,POJISTNE
5088,777,30,MONTHLY ISSUANCE,30535,GH,7662755,6412.0,UVER
5089,1573,63,MONTHLY ISSUANCE,31720,IJ,19240260,3638.0,SIPO
5090,3276,1,MONTHLY ISSUANCE,34260,IJ,54098749,1722.0,SIPO
5091,3276,1,MONTHLY ISSUANCE,34262,WX,88365083,1017.0,POJISTNE

In [ ]:
district=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='District')
account_order_district=account_order.merge(district,left_on="district_id",right_on='A1')
account_order_district

,account_id,district_id,frequency,order_id,bank_to,account_to,amount,k_symbol,A1,A2,...,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,576,55,MONTHLY ISSUANCE,30253,OP,71033382,3662.0,SIPO,55,Brno - venkov,...,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
1,704,55,MONTHLY ISSUANCE,30436,IJ,15132719,2141.0,SIPO,55,Brno - venkov,...,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
2,192,55,MONTHLY ISSUANCE,29693,IJ,70552640,3583.0,SIPO,55,Brno - venkov,...,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
3,10364,55,MONTHLY ISSUANCE,44769,EF,67477196,6262.0,SIPO,55,Brno - venkov,...,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
4,10364,55,MONTHLY ISSUANCE,44770,IJ,11477667,609.0,UVER,55,Brno - venkov,...,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5087,3951,22,MONTHLY ISSUANCE,35228,OP,7565194,7284.0,UVER,22,Domazlice,...,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
5088,679,22,MONTHLY ISSUANCE,30398,OP,91457056,4049.0,SIPO,22,Domazlice,...,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
5089,679,22,MONTHLY ISSUANCE,30400,UV,84744864,281.0,POJISTNE,22,Domazlice,...,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
5090,2182,22,MONTHLY ISSUANCE,32609,OP,88771032,5262.0,SIPO,22,Domazlice,...,4,1,6,52.4,8620,1.1,1.25,100,1089,1117
5091,2152,22,MONTHLY ISSUANCE,32556,QR,56643396,3191.0,SIPO,22,Domazlice,...,4,1,6,52.4,8620,1.1,1.25,100,1089,1117

In [ ]:
account_order_sipo=account_order[(account_order['k_symbol']=="SIPO")]
account_order_pojistne=account_order[(account_order['k_symbol']=='POJISTNE')]
account_order_uver=account_order[(account_order['k_symbol']=='UVER')]
account_order_leasing=account_order[(account_order['k_symbol']=="LEASING")]

In [ ]:
account_order_sipo

,account_id,district_id,frequency,order_id,bank_to,account_to,amount,k_symbol
0,576,55,MONTHLY ISSUANCE,30253,OP,71033382,3662.0,SIPO
1,3818,74,MONTHLY ISSUANCE,35031,QR,35474443,3596.0,SIPO
3,704,55,MONTHLY ISSUANCE,30436,IJ,15132719,2141.0,SIPO
4,2378,16,MONTHLY ISSUANCE,32909,EF,1222903,9612.0,SIPO
5,2632,24,MONTHLY ISSUANCE,33279,EF,40250009,2042.0,SIPO
...,...,...,...,...,...,...,...,...
5084,906,59,MONTHLY ISSUANCE,30732,AB,85822999,2240.0,SIPO
5085,845,14,MONTHLY ISSUANCE,30629,IJ,33191889,9651.0,SIPO
5086,124,55,MONTHLY ISSUANCE,29605,IJ,11366123,447.0,SIPO
5089,1573,63,MONTHLY ISSUANCE,31720,IJ,19240260,3638.0,SIPO
5090,3276,1,MONTHLY ISSUANCE,34260,IJ,54098749,1722.0,SIPO

In [ ]:
account_order_pojistne

,account_id,district_id,frequency,order_id,bank_to,account_to,amount,k_symbol
2,3818,74,MONTHLY ISSUANCE,35033,CD,34760767,4065.0,POJISTNE
6,2632,24,MONTHLY ISSUANCE,33281,IJ,36942219,2300.0,POJISTNE
9,793,47,MONTHLY ISSUANCE,30562,YZ,95059883,851.0,POJISTNE
11,2484,74,MONTHLY ISSUANCE,33069,GH,75644820,599.0,POJISTNE
14,1726,48,MONTHLY ISSUANCE,31928,EF,89946835,74.0,POJISTNE
...,...,...,...,...,...,...,...,...
5049,3033,69,MONTHLY ISSUANCE,33891,UV,11267763,1137.0,POJISTNE
5063,2440,19,MONTHLY ISSUANCE,32999,GH,32329070,1230.0,POJISTNE
5075,1318,56,MONTHLY ISSUANCE,31331,MN,13490295,2015.0,POJISTNE
5087,124,55,MONTHLY ISSUANCE,29607,OP,34663748,971.0,POJISTNE
5091,3276,1,MONTHLY ISSUANCE,34262,WX,88365083,1017.0,POJISTNE

In [ ]:
account_order_uver

,account_id,district_id,frequency,order_id,bank_to,account_to,amount,k_symbol
55,5270,44,MONTHLY ISSUANCE,37180,CD,13973260,3317.0,UVER
64,11265,15,MONTHLY ISSUANCE,46186,KL,33709621,4399.0,UVER
67,10364,55,MONTHLY ISSUANCE,44770,IJ,11477667,609.0,UVER
74,3834,54,MONTHLY ISSUANCE,35053,WX,34075695,1921.0,UVER
89,9307,68,MONTHLY ISSUANCE,43182,EF,53406888,3491.5,UVER
...,...,...,...,...,...,...,...,...
5056,938,70,MONTHLY ISSUANCE,30779,GH,56959378,371.0,UVER
5058,3501,36,MONTHLY ISSUANCE,34587,EF,31481027,7304.0,UVER
5068,1177,27,MONTHLY ISSUANCE,31122,OP,30046618,6306.0,UVER
5073,1318,56,MONTHLY ISSUANCE,31328,ST,77757256,5154.0,UVER
5088,777,30,MONTHLY ISSUANCE,30535,GH,7662755,6412.0,UVER

In [ ]:
account_order_leasing

,account_id,district_id,frequency,order_id,bank_to,account_to,amount,k_symbol
18,485,6,ISSUANCE AFTER TRANSACTION,30139,AB,58655077,2629.6,LEASING
25,2393,10,MONTHLY ISSUANCE,32931,AB,73102003,1253.0,LEASING
34,2087,7,WEEKLY ISSUANCE,32465,IJ,28660744,4619.9,LEASING
54,3760,44,MONTHLY ISSUANCE,34947,YZ,4517555,2947.8,LEASING
77,456,49,MONTHLY ISSUANCE,30089,WX,12626231,4783.1,LEASING
...,...,...,...,...,...,...,...,...
4993,3156,1,ISSUANCE AFTER TRANSACTION,34080,KL,10083705,1087.0,LEASING
5020,4386,51,WEEKLY ISSUANCE,35829,ST,24428779,1590.0,LEASING
5039,2775,30,MONTHLY ISSUANCE,33512,EF,66799968,3455.5,LEASING
5078,4332,74,MONTHLY ISSUANCE,35767,WX,43657523,4609.6,LEASING
5082,3048,74,WEEKLY ISSUANCE,33913,UV,57049596,4631.2,LEASING

In [ ]:
account_order_sipo.groupby('district_id')['amount'].sum()
datafrm=pd.DataFrame(account_order_sipo.groupby('district_id')['amount'].sum())
datafrm.rename(columns={'amount': 'amount_SIPO'}, inplace=True)
datafrm.to_excel('sipo.xlsx')

In [ ]:

account_order_leasing.groupby('district_id')['amount'].sum()
datafrmlease=pd.DataFrame(account_order_leasing.groupby('district_id')['amount'].sum())
datafrmlease.rename(columns={'amount': 'amount_LEASING'}, inplace=True)
datafrmlease.to_excel('lease.xlsx')

In [ ]:
account_order_uver.groupby('district_id')['amount'].sum()
datafrmuver=pd.DataFrame(account_order_uver.groupby('district_id')['amount'].sum())
datafrmuver.rename(columns={'amount': 'amount_UVER'}, inplace=True)
datafrmuver.to_excel("uver.xlsx")

In [ ]:
account_order_pojistne.groupby('district_id')['amount'].sum()
datafrmpoji=pd.DataFrame(account_order_pojistne.groupby('district_id')['amount'].sum())

datafrmpoji.rename(columns={'amount': 'amount_POJISTNE'}, inplace=True)
datafrmpoji.sort_values(by='amount_POJISTNE',ascending=False)
datafrmpoji.to_excel('poji.xlsx')

In [ ]:
district.rename(columns={'A1': 'district_id'}, inplace=True)
district_SIPO=pd.merge(datafrm,district,on='district_id')
district_SIPO_UVER=pd.merge(datafrmuver,district_SIPO,on='district_id')
district_SIPO_UVER_POJISTNE=pd.merge(datafrmpoji,district_SIPO_UVER,on='district_id')
district_SIPO_UVER_POJISTNE_LEASE=pd.merge(district_SIPO_UVER_POJISTNE,datafrmlease,on='district_id')

In [ ]:
# characterization of the payment: "POJISTNE" stands for insurrance payment "SIPO" stands for household payment "LEASING" stands for leasing "UVER" stands for loan payment

In [ ]:
from google.colab import files
# uploaded = files.upload()

# Load the two Excel files into DataFrames
file1 = pd.read_excel('sipo.xlsx')
file2 = pd.read_excel('uver.xlsx')
file3 = pd.read_excel('poji.xlsx')
file4 = pd.read_excel('lease.xlsx')
# Create an Excel writer object
excel_writer = pd.ExcelWriter('p7_output.xlsx')

# Write DataFrames to separate sheets
file1.to_excel(excel_writer, sheet_name='household_payments')
file2.to_excel(excel_writer, sheet_name='loan_payments')
file3.to_excel(excel_writer, sheet_name='insurance_payments')
file4.to_excel(excel_writer, sheet_name='lease_payments')
# Save the merged Excel file
excel_writer.save()

# Download the merged Excel file
files.download('p7_output.xlsx')

<ipython-input-166-f70c22f0241d>:18: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  excel_writer.save()

8. Create profile of customers in accordance of districts for the status of loan payment, there will
be 4 categories.

In [ ]:
ac=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Account')
loa=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='Loan')
di=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='District')
ac_loa=pd.merge(ac,loa,on='account_id')
ac_loa_di=ac_loa.merge(di,left_on='district_id',right_on='A1')
ac_loa_di

,account_id,district_id,frequency,loan_id,date,amount,duration,payments,status,A1,...,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,5270,44,MONTHLY ISSUANCE,6077,931122,79608,24,3317,A,44,...,7,2,7,53.0,8254,2.79,3.76,97,2166,2325
1,5385,44,WEEKLY ISSUANCE,6103,940407,149340,60,2489,C,44,...,7,2,7,53.0,8254,2.79,3.76,97,2166,2325
2,8027,44,WEEKLY ISSUANCE,6642,940605,77640,12,6470,A,44,...,7,2,7,53.0,8254,2.79,3.76,97,2166,2325
3,3037,44,MONTHLY ISSUANCE,5593,960418,277884,36,7719,D,44,...,7,2,7,53.0,8254,2.79,3.76,97,2166,2325
4,10942,44,WEEKLY ISSUANCE,7227,951002,314520,60,5242,C,44,...,7,2,7,53.0,8254,2.79,3.76,97,2166,2325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,6950,36,MONTHLY ISSUANCE,6415,970212,475680,48,9910,C,36,...,8,1,9,85.2,9198,3.33,4.28,131,5796,6132
678,4052,36,WEEKLY ISSUANCE,5799,971228,106128,36,2948,C,36,...,8,1,9,85.2,9198,3.33,4.28,131,5796,6132
679,8026,36,MONTHLY ISSUANCE,6641,970909,128268,36,3563,C,36,...,8,1,9,85.2,9198,3.33,4.28,131,5796,6132
680,1776,36,MONTHLY ISSUANCE,5313,980527,43200,24,1800,C,36,...,8,1,9,85.2,9198,3.33,4.28,131,5796,6132
681,6699,35,MONTHLY ISSUANCE,6355,970924,127200,48,2650,C,35,...,5,1,7,80.5,8867,1.02,1.21,130,3384,3620

In [ ]:
del ac_loa_di['A1']
del ac_loa_di['A4']
del ac_loa_di['A5']
del ac_loa_di['A6']
del ac_loa_di['A7']
del ac_loa_di['A8']
del ac_loa_di['A9']
del ac_loa_di['A10']
del ac_loa_di['A11']
del ac_loa_di['A12']
del ac_loa_di['A13']
del ac_loa_di['A14']
del ac_loa_di['A15']
del ac_loa_di['A16']
del ac_loa_di['frequency']
del ac_loa_di['duration']
del ac_loa_di['amount']
del ac_loa_di['payments']

In [ ]:
ac_loa_di

,account_id,district_id,loan_id,date,status,A2,A3
0,5270,44,6077,931122,A,Chrudim,east Bohemia
1,5385,44,6103,940407,C,Chrudim,east Bohemia
2,8027,44,6642,940605,A,Chrudim,east Bohemia
3,3037,44,5593,960418,D,Chrudim,east Bohemia
4,10942,44,7227,951002,C,Chrudim,east Bohemia
...,...,...,...,...,...,...,...
677,6950,36,6415,970212,C,Liberec,north Bohemia
678,4052,36,5799,971228,C,Liberec,north Bohemia
679,8026,36,6641,970909,C,Liberec,north Bohemia
680,1776,36,5313,980527,C,Liberec,north Bohemia
681,6699,35,6355,970924,C,Jablonec n. Nisou,north Bohemia

In [ ]:
ac_loa_di_a=ac_loa_di[(ac_loa_di['status']=='A')]
ac_loa_di_a_c=ac_loa_di_a.groupby('A2').count()
datA=ac_loa_di_a_c['status']
datA=datA.reset_index()
datA.rename(columns={"status": "StatusA"}, inplace=True)
# datA.to_excel('DatA.xlsx',index=False)
datA

                  A2  StatusA
0            Benesov        1
1             Beroun        1
2            Blansko        3
3            Breclav        1
4       Brno - mesto        4
..               ...      ...
64            Vsetin        1
65            Vyskov        3
66  Zdar nad Sazavou        4
67              Zlin        6
68            Znojmo        1

[69 rows x 2 columns]

In [ ]:
ac_loa_di_b=ac_loa_di[(ac_loa_di['status']=='B')]
ac_loa_di_b_c=ac_loa_di_b.groupby('A2').count()
datB=ac_loa_di_b_c['status']
datB=datB.reset_index()
datB.rename(columns={"status": "StatusB"}, inplace=True)
# datB.to_excel('DatB.xlsx',index=False)
datB

                   A2  StatusB
0             Breclav        1
1        Brno - mesto        2
2             Bruntal        1
3       Cesky Krumlov        1
4            Chomutov        1
5     Frydek - Mistek        1
6         Hl.m. Praha        3
7   Jindrichuv Hradec        1
8        Karlovy Vary        2
9          Kutna Hora        2
10            Olomouc        1
11              Opava        1
12    Ostrava - mesto        2
13      Praha - zapad        1
14            Pribram        1
15          Prostejov        1
16           Rakovnik        1
17            Sokolov        1
18         Strakonice        1
19              Tabor        2
20             Tachov        2
21             Trebic        1
22             Znojmo        1

In [ ]:
ac_loa_di_c=ac_loa_di[(ac_loa_di['status']=='C')]
ac_loa_di_c_c=ac_loa_di_c.groupby('A2').count()
datC=ac_loa_di_c_c['status']
datC=datC.reset_index()
datC.rename(columns={"status": "StatusC"}, inplace=True)
# datC.to_excel('DatC.xlsx',index=False)
datC

                  A2  StatusC
0            Benesov        5
1             Beroun        3
2            Blansko        3
3            Breclav        5
4       Brno - mesto       15
..               ...      ...
71            Vsetin        5
72            Vyskov        4
73  Zdar nad Sazavou        3
74              Zlin       10
75            Znojmo        4

[76 rows x 2 columns]

In [ ]:
ac_loa_di_d=ac_loa_di[(ac_loa_di['status']=='D')]
ac_loa_di_d_c=ac_loa_di_d.groupby('A2').count()
datD=ac_loa_di_d_c['status']
datD=datD.reset_index()
datD.rename(columns={"status": "StatusD"}, inplace=True)
# datD.to_excel('DatD.xlsx',index=False)
datD

                     A2  StatusD
0                Beroun        2
1               Blansko        1
2          Brno - mesto        3
3         Brno - venkov        1
4               Bruntal        2
5      Ceske Budejovice        1
6               Chrudim        2
7             Domazlice        1
8        Havlickuv Brod        1
9           Hl.m. Praha        4
10       Hradec Kralove        1
11              Jesenik        2
12              Karvina        3
13               Kladno        1
14              Klatovy        1
15             Kromeriz        1
16           Kutna Hora        1
17       Mlada Boleslav        1
18           Novy Jicin        1
19              Olomouc        1
20                Opava        2
21      Ostrava - mesto        1
22        Plzen - mesto        1
23           Prachatice        1
24             Rokycany        1
25  Rychnov nad Kneznou        1
26           Strakonice        2
27              Svitavy        3
28      Usti nad Orlici        1
29                 Zlin        1

In [ ]:
# from google.colab import files
# # uploaded = files.upload()

# # Load the two Excel files into DataFrames
# file1 = pd.read_excel('DatA.xlsx')
# file2 = pd.read_excel('DatB.xlsx')
# file3 = pd.read_excel('DatC.xlsx')
# file4 = pd.read_excel('DatD.xlsx')
# # Create an Excel writer object
# excel_writer = pd.ExcelWriter('p8_output.xlsx')

# # Write DataFrames to separate sheets
# file1.to_excel(excel_writer, sheet_name='Loans_repayment-A', index=False)
# file2.to_excel(excel_writer, sheet_name='Loans_repayment-B', index=False)
# file3.to_excel(excel_writer, sheet_name='Loans_repaymnet-C', index=False)
# file4.to_excel(excel_writer, sheet_name='Loans_repayments-D',index=False)
# # Save the merged Excel file
# excel_writer.save()

# # Download the merged Excel file
# files.download('p8_output.xlsx')

10.Owners from which district are issuing permanent orders and asking for a loan

In [ ]:
ord=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Disposition')
de=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='District')
acnt=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Account')

In [ ]:
acnt=pd.merge(acnt,ord,on='account_id')
del acnt['frequency']
del acnt['disp_id']

In [ ]:
p_10=acnt.merge(de,left_on="district_id",right_on='A1')
del p_10['A4']
del p_10['A5']
del p_10['A6']
del p_10['A7']
del p_10['A8']
del p_10['A9']
del p_10['A10']
del p_10['A11']
del p_10['A12']
del p_10['A13']
del p_10['A14']
del p_10['A15']
del p_10['A16']
del p_10['A1']

In [ ]:
p_10

      account_id  district_id  client_id   type             A2             A3
0            576           55        692  OWNER  Brno - venkov  south Moravia
1            576           55        693   USER  Brno - venkov  south Moravia
2            704           55        844  OWNER  Brno - venkov  south Moravia
3            704           55        845   USER  Brno - venkov  south Moravia
4            192           55        232  OWNER  Brno - venkov  south Moravia
...          ...          ...        ...    ...            ...            ...
5364        3951           22       4766  OWNER      Domazlice   west Bohemia
5365         679           22        815  OWNER      Domazlice   west Bohemia
5366        2182           22       2642  OWNER      Domazlice   west Bohemia
5367        2152           22       2604  OWNER      Domazlice   west Bohemia
5368        2152           22       2605   USER      Domazlice   west Bohemia

[5369 rows x 6 columns]

In [ ]:
P_10=p_10[(p_10['type']=='OWNER')]
# P_10.to_excel('Full.xlsx',index=False)

In [ ]:
# prob10=prob10.insert(loc=1, column="owners", value=[1])

In [ ]:
prob10=p_10.groupby('A2').count()
prob10.rename(columns={"account_id": "accounts"}, inplace=True)
# prob10.to_excel('req.xlsx')

In [ ]:
del prob10['A3']
del prob10['type']
del prob10['district_id']
del prob10['client_id']

In [ ]:

prob10

                  accounts
A2
Benesov                 46
Beroun                  57
Blansko                 60
Breclav                 52
Brno - mesto           152
...                    ...
Vsetin                  48
Vyskov                  56
Zdar nad Sazavou        65
Zlin                   111
Znojmo                  42

[77 rows x 1 columns]

In [ ]:
# from google.colab import files
# # uploaded = files.upload()

# # Load the two Excel files into DataFrames
# file1 = pd.read_excel('Full.xlsx')
# file2 = pd.read_excel('req.xlsx')
# # Create an Excel writer object
# excel_writer = pd.ExcelWriter('p10_output.xlsx')

# # Write DataFrames to separate sheets
# file1.to_excel(excel_writer, sheet_name='Full_detials', index=False)
# file2.to_excel(excel_writer, sheet_name='Required_data', index=False)
# # Save the merged Excel file
# excel_writer.save()

# # Download the merged Excel file
# files.download('p10_output.xlsx')

11. Can we say customers from Bohemia are the ones having more male customers possessing
Gold cards in comparison of Moravia?

In [ ]:
cardd=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Card')
distt=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='District')
ndisp=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Disposition')
acct=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Account')
ncli=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Client')

In [ ]:
cardd_ndisp=pd.merge(cardd,ndisp,on='disp_id')
cardd_ndisp_acct=pd.merge(cardd_ndisp,acct,on='account_id')
cardd_ndisp_acct_distt=cardd_ndisp_acct.merge(distt,left_on="district_id",right_on='A1')

In [ ]:
del cardd_ndisp_acct_distt['issued']
del cardd_ndisp_acct_distt['type_y']
del cardd_ndisp_acct_distt['frequency']
del cardd_ndisp_acct_distt['A1']
del cardd_ndisp_acct_distt['A4']
del cardd_ndisp_acct_distt['A5']
del cardd_ndisp_acct_distt['A6']
del cardd_ndisp_acct_distt['A7']
del cardd_ndisp_acct_distt['A8']
del cardd_ndisp_acct_distt['A9']
del cardd_ndisp_acct_distt['A10']
del cardd_ndisp_acct_distt['A11']
del cardd_ndisp_acct_distt['A12']
del cardd_ndisp_acct_distt['A13']
del cardd_ndisp_acct_distt['A14']

In [ ]:
cardd_ndisp_acct_distt_ncli=pd.merge(cardd_ndisp_acct_distt,ncli,on='client_id')
del cardd_ndisp_acct_distt_ncli['district_id_y']
del cardd_ndisp_acct_distt_ncli['Unnamed: 0']
del cardd_ndisp_acct_distt_ncli['A15']

In [ ]:
cardd_ndisp_acct_distt_ncli

,card_id,disp_id,type_x,client_id,account_id,district_id_x,A2,A3,A16,birth_number,gender,age,age_levels
0,1005,9285,CLASSIC,9593,7753,74,Ostrava - mesto,north Moravia,18347,680128,FEMALE,31,ADULT
1,166,999,CLASSIC,999,830,74,Ostrava - mesto,north Moravia,18347,660901,FEMALE,33,ADULT
2,890,7422,CLASSIC,7422,6148,74,Ostrava - mesto,north Moravia,18347,581126,MALE,41,MIDDLE AGED
3,513,3260,CLASSIC,3260,2702,74,Ostrava - mesto,north Moravia,18347,420908,FEMALE,57,MIDDLE AGED
4,350,2226,CLASSIC,2226,1835,74,Ostrava - mesto,north Moravia,18347,641009,FEMALE,35,ADULT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,726,4721,CLASSIC,4721,3915,65,Znojmo,south Moravia,2718,560321,FEMALE,43,MIDDLE AGED
888,156,906,JUNIOR,906,756,65,Znojmo,south Moravia,2718,780616,MALE,21,YOUTH
889,338,2146,CLASSIC,2146,1770,65,Znojmo,south Moravia,2718,730104,MALE,26,ADULT
890,755,5002,CLASSIC,5002,4150,65,Znojmo,south Moravia,2718,770717,FEMALE,22,YOUTH
891,306,1929,CLASSIC,1929,1591,65,Znojmo,south Moravia,2718,550815,FEMALE,44,MIDDLE AGED

In [ ]:
cardd_ndisp_acct_distt_ncli_men=cardd_ndisp_acct_distt_ncli[(cardd_ndisp_acct_distt_ncli['gender']=='MALE')&(cardd_ndisp_acct_distt_ncli['type_x']=='GOLD')]

cardd_ndisp_acct_distt_ncli_men_Bohemia=cardd_ndisp_acct_distt_ncli_men[(cardd_ndisp_acct_distt_ncli_men['A3']=='north Bohemia')|
 (cardd_ndisp_acct_distt_ncli_men['A3']=='east Bohemia')|(cardd_ndisp_acct_distt_ncli_men['A3']=='west Bohemia')|(cardd_ndisp_acct_distt_ncli_men['A3']=='central Bohemia')]
# cardd_ndisp_acct_distt_ncli_men_Bohemia.to_excel('car_m_B.xlsx',index=False)
cardd_ndisp_acct_distt_ncli_men_Bohemia

,card_id,disp_id,type_x,client_id,account_id,district_id_x,A2,A3,A16,birth_number,gender,age,age_levels
111,125,694,GOLD,694,577,29,Rokycany,west Bohemia,888,360228,MALE,63,MIDDLE AGED
113,99,548,GOLD,548,456,49,Semily,east Bohemia,2123,371204,MALE,62,MIDDLE AGED
264,282,1799,GOLD,1799,1485,36,Liberec,north Bohemia,6132,590626,MALE,40,MIDDLE AGED
310,261,1629,GOLD,1629,1345,28,Plzen - sever,west Bohemia,1525,660901,MALE,33,ADULT
328,354,2265,GOLD,2265,1867,52,Usti nad Orlici,east Bohemia,2799,770918,MALE,22,YOUTH
367,561,3581,GOLD,3581,2966,33,Decin,north Bohemia,4859,671223,MALE,32,ADULT
383,531,3378,GOLD,3378,2796,5,Kolin,central Bohemia,3040,570421,MALE,42,MIDDLE AGED
483,546,3465,GOLD,3465,2867,30,Sokolov,west Bohemia,2804,420417,MALE,57,MIDDLE AGED
498,3,41,GOLD,41,33,22,Domazlice,west Bohemia,1117,680827,MALE,31,ADULT
501,724,4701,GOLD,4701,3899,22,Domazlice,west Bohemia,1117,410628,MALE,58,MIDDLE AGED
521,599,3824,GOLD,3824,3163,41,Usti nad Labem,north Bohemia,5471,710107,MALE,28,ADULT
594,1176,12502,GOLD,12810,10411,39,Most,north Bohemia,4743,641014,MALE,35,ADULT
598,461,2977,GOLD,2977,2466,39,Most,north Bohemia,4743,630206,MALE,36,MIDDLE AGED
691,431,2715,GOLD,2715,2242,7,Melnik,central Bohemia,4846,570704,MALE,42,MIDDLE AGED
734,444,2815,GOLD,2815,2328,35,Jablonec n. Nisou,north Bohemia,3620,300630,MALE,69,SENIOR
743,371,2388,GOLD,2388,1963,42,Havlickuv Brod,east Bohemia,1668,710729,MALE,28,ADULT
808,459,2958,GOLD,2958,2450,48,Rychnov nad Kneznou,east Bohemia,1717,750507,MALE,24,YOUTH
815,153,886,GOLD,886,738,34,Chomutov,north Bohemia,5190,480202,MALE,51,MIDDLE AGED
824,292,1842,GOLD,1842,1519,9,Nymburk,central Bohemia,2487,430913,MALE,56,MIDDLE AGED
880,268,1707,GOLD,1707,1408,10,Praha - vychod,central Bohemia,4316,510218,MALE,48,MIDDLE AGED

In [ ]:
cardd_ndisp_acct_distt_ncli_men_Moravia=cardd_ndisp_acct_distt_ncli_men[(cardd_ndisp_acct_distt_ncli_men['A3']=='north Moravia')|
 (cardd_ndisp_acct_distt_ncli_men['A3']=='south Moravia')]
# cardd_ndisp_acct_distt_ncli_men_Moravia.to_excel('car_m_M.xlsx',index=False)
cardd_ndisp_acct_distt_ncli_men_Moravia

,card_id,disp_id,type_x,client_id,account_id,district_id_x,A2,A3,A16,birth_number,gender,age,age_levels
7,638,4100,GOLD,4100,3391,74,Ostrava - mesto,north Moravia,18347,550313,MALE,44,MIDDLE AGED
13,906,7683,GOLD,7683,6363,74,Ostrava - mesto,north Moravia,18347,460401,MALE,53,MIDDLE AGED
15,475,3075,GOLD,3075,2547,74,Ostrava - mesto,north Moravia,18347,410505,MALE,58,MIDDLE AGED
57,362,2320,GOLD,2320,1910,60,Prostejov,south Moravia,2252,510523,MALE,48,MIDDLE AGED
61,1,9,GOLD,9,7,60,Prostejov,south Moravia,2252,351016,MALE,64,MIDDLE AGED
64,208,1246,GOLD,1246,1039,70,Karvina,north Moravia,10108,621119,MALE,37,MIDDLE AGED
80,761,5128,GOLD,5128,4255,70,Karvina,north Moravia,10108,631224,MALE,36,MIDDLE AGED
93,296,1876,GOLD,1876,1547,72,Olomouc,north Moravia,9208,510701,MALE,48,MIDDLE AGED
294,1007,9333,GOLD,9641,7795,64,Zlin,south Moravia,4265,450126,MALE,54,MIDDLE AGED
303,269,1718,GOLD,1718,1417,75,Prerov,north Moravia,4505,380727,MALE,61,MIDDLE AGED
389,617,3944,GOLD,3944,3260,68,Frydek - Mistek,north Moravia,5887,360101,MALE,63,MIDDLE AGED
439,874,7127,GOLD,7127,5891,54,Brno - mesto,south Moravia,18696,570929,MALE,42,MIDDLE AGED
440,382,2445,GOLD,2445,2013,54,Brno - mesto,south Moravia,18696,690226,MALE,30,ADULT
446,453,2911,GOLD,2911,2410,54,Brno - mesto,south Moravia,18696,320925,MALE,67,SENIOR
564,1177,12535,GOLD,12843,10439,66,Zdar nad Sazavou,south Moravia,2103,530505,MALE,46,MIDDLE AGED
571,331,2125,GOLD,2125,1753,71,Novy Jicin,north Moravia,4595,750412,MALE,24,YOUTH
616,213,1289,GOLD,1289,1074,59,Kromeriz,south Moravia,2305,460918,MALE,53,MIDDLE AGED
715,321,2058,GOLD,2058,1695,76,Sumperk,north Moravia,2807,710302,MALE,28,ADULT
716,1195,12787,GOLD,13095,10650,76,Sumperk,north Moravia,2807,500316,MALE,49,MIDDLE AGED
728,445,2820,GOLD,2820,2332,77,Vsetin,north Moravia,3590,661217,MALE,33,ADULT
744,1187,12635,GOLD,12943,10520,55,Brno - venkov,south Moravia,3894,701012,MALE,29,ADULT
757,255,1579,GOLD,1579,1305,57,Hodonin,south Moravia,3651,631013,MALE,36,MIDDLE AGED

In [ ]:
# from google.colab import files
# # uploaded = files.upload()

# # Load the two Excel files into DataFrames
# file1 = pd.read_excel('car_m_M.xlsx')
# file2 = pd.read_excel('car_m_B.xlsx')
# # Create an Excel writer object
# excel_writer = pd.ExcelWriter('p11_output.xlsx')

# # Write DataFrames to separate sheets
# file1.to_excel(excel_writer, sheet_name='Golden_card_Moravia', index=False)
# file2.to_excel(excel_writer, sheet_name='Golden_card_Bohemia', index=False)
# # Save the merged Excel file
# excel_writer.save()

# # Download the merged Excel file
# files.download('p11_output.xlsx')

In [ ]:
print('Yes,we say customers from Bohemia are the ones having more male customers possessing Gold cards in comparison of Moravia'if len(cardd_ndisp_acct_distt_ncli_men_Bohemia)>len(cardd_ndisp_acct_distt_ncli_men_Moravia)
else "No,we cann't say that customers from Bohemia are the ones having more male customers possessing Gold cards in comparison of Moravia" )

No,we cann't say that customers from Bohemia are the ones having more male customers possessing Gold cards in comparison of Moravia

12. How many customers having credit card are also availing the loan facilities

In [ ]:
Cd=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Card')
De=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Disposition')

In [ ]:
del Cd['type']

In [ ]:
P_12=pd.merge(Cd,De,on='disp_id')
# P_12.to_excel('p_12_output.xlsx')
P_12

     card_id  disp_id  issued  client_id  account_id   type
0       1005     9285  931107       9593        7753  OWNER
1        104      588  940119        588         489  OWNER
2        747     4915  940205       4915        4078  OWNER
3         70      439  940208        439         361  OWNER
4        577     3687  940215       3687        3050  OWNER
..       ...      ...     ...        ...         ...    ...
887      125      694  981226        694         577  OWNER
888      674     4360  981228       4360        3614  OWNER
889      322     2063  981228       2063        1698  OWNER
890      685     4467  981229       4467        3705  OWNER
891      635     4083  981229       4083        3377  OWNER

[892 rows x 6 columns]

13. Can we say that customers having Classic and Junior card are the ones who are more in debt

In [ ]:
cust_class_jr=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Card')
dep=De=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Disposition')

In [ ]:
del dep['type']

In [ ]:
cust_class_jr=pd.merge(cust_class_jr,dep,on='disp_id')
cust_class_jr

     card_id  disp_id     type  issued  client_id  account_id
0       1005     9285  CLASSIC  931107       9593        7753
1        104      588  CLASSIC  940119        588         489
2        747     4915  CLASSIC  940205       4915        4078
3         70      439  CLASSIC  940208        439         361
4        577     3687  CLASSIC  940215       3687        3050
..       ...      ...      ...     ...        ...         ...
887      125      694     GOLD  981226        694         577
888      674     4360  CLASSIC  981228       4360        3614
889      322     2063  CLASSIC  981228       2063        1698
890      685     4467  CLASSIC  981229       4467        3705
891      635     4083  CLASSIC  981229       4083        3377

[892 rows x 6 columns]

In [ ]:
trs=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Transaction')

In [ ]:
del trs['k_symbol']
del trs['amount']
del trs['Unnamed: 0']
del trs['balance']

In [ ]:
trs

         account_id    date    type        operation
0              2378  930101  CREDIT   CREDIT IN CASH
1               576  930101  CREDIT   CREDIT IN CASH
2               704  930101  CREDIT   CREDIT IN CASH
3              3818  930101  CREDIT   CREDIT IN CASH
4              1972  930102  CREDIT   CREDIT IN CASH
...             ...     ...     ...              ...
1048570        3779  981219   DEBIT  CASH WITHDRAWAL
1048571        3787  981219   DEBIT  CASH WITHDRAWAL
1048572        3789  981219   DEBIT  CASH WITHDRAWAL
1048573        3791  981219   DEBIT  CASH WITHDRAWAL
1048574        3789  981219   DEBIT  CASH WITHDRAWAL

[1048575 rows x 4 columns]

In [ ]:
trs=trs[(trs['type']=='DEBIT')]
del trs['operation']

In [ ]:
trs

         account_id    date   type
136            2378  930131  DEBIT
189             485  930203  DEBIT
222            3510  930206  DEBIT
233            2378  930207  DEBIT
249            2122  930207  DEBIT
...             ...     ...    ...
1048570        3779  981219  DEBIT
1048571        3787  981219  DEBIT
1048572        3789  981219  DEBIT
1048573        3791  981219  DEBIT
1048574        3789  981219  DEBIT

[648366 rows x 3 columns]

In [ ]:
cust_class_jr=pd.merge(cust_class_jr,trs,on='account_id')
cust_class_jr

,card_id,disp_id,type_x,issued,client_id,account_id,date,type_y
0,1005,9285,CLASSIC,931107,9593,7753,930310,DEBIT
1,1005,9285,CLASSIC,931107,9593,7753,930409,DEBIT
2,1005,9285,CLASSIC,931107,9593,7753,930420,DEBIT
3,1005,9285,CLASSIC,931107,9593,7753,930430,DEBIT
4,1005,9285,CLASSIC,931107,9593,7753,930504,DEBIT
...,...,...,...,...,...,...,...,...
138263,635,4083,CLASSIC,981229,4083,3377,981122,DEBIT
138264,635,4083,CLASSIC,981229,4083,3377,981126,DEBIT
138265,635,4083,CLASSIC,981229,4083,3377,981130,DEBIT
138266,635,4083,CLASSIC,981229,4083,3377,981205,DEBIT
138267,635,4083,CLASSIC,981229,4083,3377,981209,DEBIT

In [ ]:
cust_class_jr_debit=cust_class_jr[(cust_class_jr['type_x']=='CLASSIC')|(cust_class_jr['type_x']=='JUNIOR')]
# cust_class_jr_debit.to_excel('class_jr.xlsx',index=False)
cust_class_jr_debit

,card_id,disp_id,type_x,issued,client_id,account_id,date,type_y
0,1005,9285,CLASSIC,931107,9593,7753,930310,DEBIT
1,1005,9285,CLASSIC,931107,9593,7753,930409,DEBIT
2,1005,9285,CLASSIC,931107,9593,7753,930420,DEBIT
3,1005,9285,CLASSIC,931107,9593,7753,930430,DEBIT
4,1005,9285,CLASSIC,931107,9593,7753,930504,DEBIT
...,...,...,...,...,...,...,...,...
138263,635,4083,CLASSIC,981229,4083,3377,981122,DEBIT
138264,635,4083,CLASSIC,981229,4083,3377,981126,DEBIT
138265,635,4083,CLASSIC,981229,4083,3377,981130,DEBIT
138266,635,4083,CLASSIC,981229,4083,3377,981205,DEBIT
138267,635,4083,CLASSIC,981229,4083,3377,981209,DEBIT

In [ ]:
cust_gold_card=cust_class_jr[(cust_class_jr['type_x']=='GOLD')]
# cust_gold_card.to_excel('gold_card.xlsx',index=False)
cust_gold_card

        card_id  disp_id type_x  issued  client_id  account_id    date type_y
6951        208     1246   GOLD  950208       1246        1039  930609  DEBIT
6952        208     1246   GOLD  950208       1246        1039  930709  DEBIT
6953        208     1246   GOLD  950208       1246        1039  930907  DEBIT
6954        208     1246   GOLD  950208       1246        1039  931007  DEBIT
6955        208     1246   GOLD  950208       1246        1039  931106  DEBIT
...         ...      ...    ...     ...        ...         ...     ...    ...
137855      125      694   GOLD  981226        694         577  981031  DEBIT
137856      125      694   GOLD  981226        694         577  981108  DEBIT
137857      125      694   GOLD  981226        694         577  981120  DEBIT
137858      125      694   GOLD  981226        694         577  981130  DEBIT
137859      125      694   GOLD  981226        694         577  981208  DEBIT

[16343 rows x 8 columns]

In [ ]:
# from google.colab import files
# # uploaded = files.upload()

# # Load the two Excel files into DataFrames
# file1 = pd.read_excel('class_jr.xlsx')
# file2 = pd.read_excel('gold_card.xlsx')
# # Create an Excel writer object
# excel_writer = pd.ExcelWriter('p13_output.xlsx')

# # Write DataFrames to separate sheets
# file1.to_excel(excel_writer, sheet_name='classic_junior_cards', index=False)
# file2.to_excel(excel_writer, sheet_name='Gold_cards', index=False)

# # Save the merged Excel file
# excel_writer.save()

# # Download the merged Excel file
# files.download('p13_output.xlsx')

In [ ]:
print( "Gold are having greater in debit" if len(cust_gold_card)>len(cust_class_jr_debit) else "classic and junior having more in debit")

classic and junior having more in debit

14. How will you analyze the performance of Mid age vs adults in terms of loan repayments

In [ ]:
ndis=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Disposition')
del ndis['type']

In [ ]:
cli=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='New_Client')
lo=pd.read_excel('/content/drive/MyDrive/Edulyt India - Data for Project - 3.xlsx',sheet_name='Loan')

In [ ]:
ndis_cli=pd.merge(ndis,cli,on='client_id')
ndis_cli

,disp_id,client_id,account_id,Unnamed: 0,birth_number,district_id,gender,age,age_levels
0,1,1,1,1,701213,18,FEMALE,29,ADULT
1,2,2,2,2,450204,1,MALE,54,MIDDLE AGED
2,3,3,2,3,401009,1,FEMALE,59,MIDDLE AGED
3,4,4,3,4,561201,5,MALE,43,MIDDLE AGED
4,5,5,3,5,600703,5,FEMALE,39,MIDDLE AGED
...,...,...,...,...,...,...,...,...,...
5364,13647,13955,11349,5365,451030,1,FEMALE,54,MIDDLE AGED
5365,13648,13956,11349,5366,430406,1,MALE,56,MIDDLE AGED
5366,13660,13968,11359,5367,680413,61,MALE,31,ADULT
5367,13663,13971,11362,5368,621019,67,FEMALE,37,MIDDLE AGED
5368,13690,13998,11382,5369,530812,74,FEMALE,46,MIDDLE AGED

In [ ]:
del ndis_cli['Unnamed: 0']
del ndis_cli['disp_id']

In [ ]:
ndis_cli_lo=pd.merge(ndis_cli,lo,on='account_id')
ndis_cli_lo

,client_id,account_id,birth_number,district_id,gender,age,age_levels,loan_id,date,amount,duration,payments,status
0,2,2,450204,1,MALE,54,MIDDLE AGED,4959,940105,80952,24,3373,A
1,3,2,401009,1,FEMALE,59,MIDDLE AGED,4959,940105,80952,24,3373,A
2,25,19,390423,21,FEMALE,60,MIDDLE AGED,4961,960429,30276,12,2523,B
3,31,25,620209,68,MALE,37,MIDDLE AGED,4962,971208,30276,12,2523,A
4,45,37,520826,20,MALE,47,MIDDLE AGED,4967,981014,318480,60,5308,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,13924,11328,520909,54,FEMALE,47,MIDDLE AGED,7295,980718,280440,60,4674,C
823,13955,11349,451030,1,FEMALE,54,MIDDLE AGED,7304,951029,419880,60,6998,C
824,13956,11349,430406,1,MALE,56,MIDDLE AGED,7304,951029,419880,60,6998,C
825,13968,11359,680413,61,MALE,31,ADULT,7305,960806,54024,12,4502,A
826,13971,11362,621019,67,FEMALE,37,MIDDLE AGED,7308,961227,129408,24,5392,A

In [ ]:
ndis_cli_lo_Mid_ADT=ndis_cli_lo[(ndis_cli_lo['age_levels']=='MIDDLE AGED')| (ndis_cli_lo['age_levels']=='ADULT')]
# ndis_cli_lo_Mid_ADT.to_excel('Allloan_md_ad.xlsx',index=False)
ndis_cli_lo_Mid_ADT

,client_id,account_id,birth_number,district_id,gender,age,age_levels,loan_id,date,amount,duration,payments,status
0,2,2,450204,1,MALE,54,MIDDLE AGED,4959,940105,80952,24,3373,A
1,3,2,401009,1,FEMALE,59,MIDDLE AGED,4959,940105,80952,24,3373,A
2,25,19,390423,21,FEMALE,60,MIDDLE AGED,4961,960429,30276,12,2523,B
3,31,25,620209,68,MALE,37,MIDDLE AGED,4962,971208,30276,12,2523,A
4,45,37,520826,20,MALE,47,MIDDLE AGED,4967,981014,318480,60,5308,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,13924,11328,520909,54,FEMALE,47,MIDDLE AGED,7295,980718,280440,60,4674,C
823,13955,11349,451030,1,FEMALE,54,MIDDLE AGED,7304,951029,419880,60,6998,C
824,13956,11349,430406,1,MALE,56,MIDDLE AGED,7304,951029,419880,60,6998,C
825,13968,11359,680413,61,MALE,31,ADULT,7305,960806,54024,12,4502,A
826,13971,11362,621019,67,FEMALE,37,MIDDLE AGED,7308,961227,129408,24,5392,A

In [ ]:
ndis_cli_lo_Mid_repay=ndis_cli_lo_Mid_ADT[(ndis_cli_lo_Mid_ADT['age_levels']=='MIDDLE AGED')  & (ndis_cli_lo_Mid_ADT['status']=='A')]
ndis_cli_lo_Mid_repay.to_excel('loanpayment_Md.xlsx',index=False)
len(ndis_cli_lo_Mid_repay)

162

In [ ]:
ndis_cli_lo_ADT_repay=ndis_cli_lo_Mid_ADT[(ndis_cli_lo_Mid_ADT['age_levels']=='ADULT')&(ndis_cli_lo_Mid_ADT['status']=='A')]
# ndis_cli_lo_ADT_repay.to_excel('loanpayments_ad.xlsx',index=False)
len(ndis_cli_lo_Mid_repay)

162

In [ ]:
# from google.colab import files
# # uploaded = files.upload()

# # Load the two Excel files into DataFrames
# file1 = pd.read_excel('Allloan_md_ad.xlsx')
# file2 = pd.read_excel('loanpayment_Md.xlsx')
# file3 = pd.read_excel('loanpayments_ad.xlsx')
# # Create an Excel writer object
# excel_writer = pd.ExcelWriter('p14_output.xlsx')

# # Write DataFrames to separate sheets
# file1.to_excel(excel_writer, sheet_name='All_loan_repayments', index=False)
# file2.to_excel(excel_writer, sheet_name='Loanrepayments_Middle_aged', index=False)
# file3.to_excel(excel_writer, sheet_name='Loanrepayments_Adult', index=False)
# # Save the merged Excel file
# excel_writer.save()

# # Download the merged Excel file
# files.download('p14_output.xlsx')

In [ ]:
print("ADULTS PAY LOAN REPAYMENTS GOOD AS COMPARED TO MIDDLE AGED" if len(ndis_cli_lo_ADT_repay)>len(ndis_cli_lo_Mid_repay) else "MIIDDLE AGED PAY LOAN REPAYMENTS GOOD AS COMPARED TO ADULT")

MIIDDLE AGED PAY LOAN REPAYMENTS GOOD AS COMPARED TO ADULT